.banner__event {
  @include boxSize;
  margin-top: 1rem;
  border-radius: 1rem;

  // 배너 item 공통 디자인
  &__tabpanel {
    @include boxSize;
    position: relative;
    background: skyblue;
    padding: 2rem 4rem;

    img {
      position: absolute;
      right: 5rem;
    }
  }

  &__item {
    @include boxSize;
  }

  &__link {
    @include boxSize;
  }

  &__text {
    font-size: 1.25rem;
  }

  &__text-bold {
    font-weight: 700;
    font-size: 2.25rem;
    font-family: "BMHANNAPro";
    letter-spacing: 0.2rem;
    margin-top: 0.75rem;
  }
}

.banner__event__button {
  height: 220px;
}
.carousel__list__button {
  @include buttonNone;

  position: absolute;
  width: 3rem;

  img {
    width: 60%;
  }

  // background: #000;
}

// 배너 이동 버튼
.prev {
  left: 0;
  bottom: 0;
  // background-image: linear-gradient(to right, $white, transparent);

  img {
    transform: rotate(180deg);
  }
}

.next {
  bottom: 0;
  right: 0;
  // background-image: linear-gradient(to left, $white, transparent);
}

.carousel__currnet__badge {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 2px;
  background: rgba($grayscaleGray1, 50%);
  padding: 0.25rem 0.5rem;
  border-radius: 3rem;
  font-size: 0.75rem;
  color: $grayscaleGray1;

  &__text {
    color: $white;
  }
}

// carousel
.banner__carousel {
  @include carouselWrapper;
  &__list {
    display: flex;
    @include carouselListWidth($numOfItem: 4+1);
    transition: transform calc(var(--duration) * 1ms) ease-out;
  }

  &__item {
    @include carouselSlideItem;
  }
}
