// 라이브 특가
.live__special {
  position: relative;
  margin-bottom: 75px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 49px;
    width: 60px;
    height: 340px;
    background-image: linear-gradient(to left, #fff, transparent);
  }

  &__container {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    @include flexbox;
    gap: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__items {
    flex-shrink: 0;
    width: 225px;

    a {
      display: block;
    }

    &:nth-child(2),
    &:nth-child(7) {
      .live__special__coupon::before {
        background-image: url(./../images/components/liveShoppingCard/burgerking-logo.png);
      }
    }

    &:nth-child(3),
    &:nth-child(8) {
      .live__special__coupon::before {
        background-image: url(./../images/main/meat.jpg);
      }
    }

    &:nth-child(4),
    &:nth-child(9) {
      .live__special__coupon::before {
        background-image: url(./../images/components/liveShoppingCard/paris-logo.png);
      }
    }

    &:nth-child(5),
    &:nth-child(10) {
      .live__special__coupon::before {
        background-image: url(./../images/components/liveShoppingCard/pizza-logo.png);
      }
    }
  }

  &__video {
    position: relative;
    height: 340px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;

    & img {
      width: 100%;
    }

    & figcaption {
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5) inset;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      & div > span:nth-child(2) {
        position: absolute;
        left: 10px;
        bottom: 18px;
        width: calc(100% - 20px);
        overflow: hidden;
        white-space: pre;
        padding-right: 10px;
        @include fontSetup(700, 18px, $white, 1.2);
      }
    }

    &__type {
      position: absolute;
      left: 10px;
      bottom: 48px;
      @include fontSetup(700, 9px, $white, 1.2);

      & > span {
        display: inline-block;
        @include paddingY(3px);
        @include paddingX(5px);
        margin-right: 3px;
        border-radius: 3px;
        background: $font-pink;

        &:last-child {
          background: $font-orange;
        }
      }
    }

    &__viewer {
      @include paddingY(5px);
      padding-left: 25px;
      padding-right: 10px;
      position: absolute;
      left: 10px;
      top: 10px;
      background: rgba(0, 0, 0, 0.3) url(./../images/components/liveShoppingCard/icon-person.png) no-repeat;
      background-size: 14px;
      background-position: 6px center;
      border-radius: 6px;
      @include fontSetup(700, 12px, $white, 1.2);
    }
  }

  &__coupon {
    position: relative;
    padding-left: 82px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 70px;
      height: 70px;
      border-radius: 5px;
      background: url(./../images/components/liveShoppingCard/pizza-logo.png) no-repeat;
      background-position: center;
      background-size: cover;
    }

    dl {
      position: relative;
    }

    dt {
      @include fontSetup(700, 14px, $font-gray, 1.2);
      margin-bottom: 36px;
    }

    &--bottom {
      position: absolute;
      top: 22px;
      left: 0;
    }

    dd {
      & > span:first-child {
        @include fontSetup(700, 16px, $font-orange, 1.2);
      }

      & > span:last-child {
        @include fontSetup(700, 16px, $font-black, 1.2);
      }
    }
  }
}
