.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.loadingImg {
  width: 100%;
  background: #e0e0e0;
  border-radius: rem(28px);
  position: absolute;
  height: 125px;
  @include tablet {
    height: 240px;
  }
}
/* 이미지의 스켈레톤(뼈대) */

/**
 * 깜박이는 블링크 애니메이션
 */
@keyframes blinker {
  50% {
    background-color: rgb(209, 209, 209);
  }
}
.blink_me {
  animation: blinker 1s linear infinite;
  z-index: 99;
  float: inherit;
}
/* 실제 이미지 */

/* 텍스트의 스켈레톤 */
.loading-text {
  position: absolute;
  margin: 10px 10px 0px 7px;
  height: 60px;
  background-color: #e0e0e0;
}
.loading-button {
  border-radius: rem(24px);
  height: 55px;
  background-color: #e0e0e0;
  transform: translate(-7%, -30%);
}

/* 스켈레톤 스크린 숨기기 */
.loading-hidden {
  z-index: -999;
}
