<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>홈</title>
  <meta name="description" content="배달의 민족 웹-태블릿 전용 페이지입니다." />
  <meta name="keywords" content="배달의민족, 배달, 포장, 음식, 주문, 웹주문, 배민, 라이브, 배민쇼핑라이브" />
  <meta name="author" content="개발의민족" />
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <!-- 광고배너 -->
  <section class="banner__event slide carousel" role="region" aria-labelledby="carouselheading">
    <h2 class="banner__event__title sr-only">지금 진행 중인 이벤트</h2>
    <!-- <ol class="banner__event__indicators" role="tablist">
        <li role="presentation" title="이벤트 슬라이드 1번">
          <a
            href="#"
            class="banner__event__tab"
            id="banner__event__tab-01"
            tabindex=""
            role="tab"
            aria-selected="true"
            ><span class="sr-only">이벤트 슬라이드 1번</span></a
          >
        </li>
        <li role="presentation" title="이벤트 슬라이드 2번">
          <a
            href="#"
            class="banner__event__tab"
            id="banner__event__tab-02"
            tabindex=""
            role="tab"
            aria-selected="false"
            ><span class="sr-only">이벤트 슬라이드 2번</span></a
          >
        </li>
        <li role="presentation" title="이벤트 슬라이드 3번">
          <a
            href="#"
            class="banner__event__tab"
            id="banner__event__tab-03"
            tabindex=""
            role="tab"
            aria-selected="false"
            ><span class="sr-only">이벤트 슬라이드 3번</span></a
          >
        </li>
      </ol> -->
    <div class="banner__event__list">
      <article class="banner__event__tabpanel">
        <a href="#" class="banner__event__link">
          <img src="/images/components/banner/banner4.png" alt="" />
          <p class="banner__event__text">당신의 먹스타일을 알려드릴게요</p>
          <p class="banner__event__text-bold">내가 가장 많이</p>
          <p class="banner__event__text-bold">주문한 음식은?</p>
        </a>
      </article>
      <article class="banner__event__tabpanel">
        <a href="#" class="banner__event__link">
          <img src="/images/components/banner/banner4.png" alt="" />
          <p class="banner__event__text">맛집 추천도 받고 쿠폰도 받고</p>
          <p class="banner__event__text-bold">맛집 기획전을</p>
          <p class="banner__event__text-bold">소개합니다</p>
        </a>
      </article>
      <article class="banner__event__tabpanel">
        <a href="#" class="banner__event__link">
          <img src="/images/components/banner/banner4.png" alt="" />
          <p class="banner__event__text">횟수 제한없이 받을 수 있어요</p>
          <p class="banner__event__text-bold">친구도 나도</p>
          <p class="banner__event__text-bold">만원 쿠폰 드려요</p>
        </a>
      </article>
      <article class="banner__event__tabpanel">
        <a href="#" class="banner__event__link">
          <img src="/images/components/banner/banner4.png" alt="" />
          <p class="banner__event__text">횟수 제한없이 받을 수 있어요</p>
          <p class="banner__event__text-bold">친구도 나도</p>
          <p class="banner__event__text-bold">만원 쿠폰 드려요</p>
        </a>
      </article>
    </div>
    <button class="banner__event__button prev">
      <img src="/images/components/banner/white-arrow56.png" alt="" />
    </button>
    <button class="banner__event__button next">
      <img src="/images/components/banner/white-arrow56.png" alt="" />
    </button>
  </section>
</body>

</html>