<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>배달의 민족 for Web</title>
  <meta name="description" content="배달의 민족 웹-태블릿 전용 페이지입니다." />
  <meta name="keywords" content="배달의민족, 배달, 포장, 음식, 주문, 웹주문, 배민, 라이브, 배민쇼핑라이브" />
  <meta name="author" content="개발의민족" />
  <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/pickup.js"></script>
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0e2b110b15d4094e23e39dd92edc102a&libraries=services"></script>
  <script type="module" src="/js/index.js" defer></script>
  <script defer src="/js/skeleton.js"></script>
  <script defer src="/js/kakaoMap.js"></script>

</head>

<body>
  <div class="tablet__container pickup">
    <!-- 해더 -->
    <header class="header">
      <div class="header__container">
        <div class="header__top">
          <h1 class="header__top__logo">
            <a href="/index.html">
              <img
                src="/assets/images/components/header/logo.png"
                alt="우리가 어떤 민족 입니까?"
              />
              <img
                src="/assets/images/components/header/logo_text.png"
                alt="배달의 민족"
              />
            </a>
          </h1>
          <p class="header__top__location" tabindex="0" role="button">
            주소를 알려주세요
          </p>
          <div class="header__top__link">
            <a href="#" class="header__top__link__login">로그인</a>
            <a href="#" class="header__top__link__myNCart"> 마이배민 </a>
            <a href="/views/cart.html" class="header__top__link__myNCart">
              장바구니
              <span class="total__count--group local__count__group">
                <span class="sr-only">총</span>
                <span class="total__count local__count">1</span>
                <span class="sr-only">개</span>
              </span>
            </a>
          </div>
        </div>
        <div class="header__bottom">
          <form action="#">
            <fieldset class="header__bottom__search__fieldset">
              <legend>음식 검색 입력폼</legend>
              <label for="search" class="sr-only">음식 검색창</label>
              <input
                type="search"
                id="search"
                name="menu"
                placeholder="닭발? 순대? 곱창?"
              />
            </fieldset>
          </form>
        </div>
      </div>
    </header>
    <!-- 네비게이션 -->
    <nav class="nav">
      <div class="nav__inner">
        <h2 class="nav__heading sr-only">네비게이션 바</h2>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/views/delivery.html" aria-selected="true">배달</a>
            <div class="nav__sub__container">
              <ul class="nav__sub__list">
                <li class="nav__sub__list__item">
                  <a
                    href="#"
                    class=""
                    role="tab"
                    id="sushi-tab"
                    aria-controls="sushi-panel"
                    aria-selected="false"
                    >돈까스&centerdot;회&centerdot;일식</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    class=""
                    id="chinese-tab"
                    aria-controls="chinese-panel"
                    aria-selected="false"
                    href="#"
                    >중식</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="chicken-tab"
                    aria-controls="chicken-panel"
                    aria-selected="false"
                    href="#"
                    >치킨</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="noodle-tab"
                    aria-controls="noodle-panel"
                    aria-selected="false"
                    href="#"
                    >백반&centerdot;죽&centerdot;국수</a
                  >
                </li>
                <li class="nav__sub__list__item selected">
                  <a
                    role="tab"
                    id="cafe-tab"
                    aria-controls="cafe-panel"
                    aria-selected="true"
                    href="/views/orderDetail.html"
                    >카페&centerdot;디저트</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="bunsik-tab"
                    aria-controls="bunsik-panel"
                    aria-selected="false"
                    href="#"
                    >분식</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="jjigae-tab"
                    aria-controls="jjigae-panel"
                    aria-selected="false"
                    href="#"
                    >짬&centerdot;탕&centerdot;찌개</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="pizza-tab"
                    aria-controls="pizza-panel"
                    aria-selected="false"
                    href="#"
                    >피자</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="spagetti-tab"
                    aria-controls="spagetti-panel"
                    aria-selected="false"
                    href="#"
                    >양식</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="meat-tab"
                    aria-controls="meat-panel"
                    aria-selected="false"
                    href="#"
                    >고기&centerdot;구이</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="jok-tab"
                    aria-controls="jok-panel"
                    aria-selected="false"
                    href="#"
                    >족발&centerdot;보쌈</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="asian-tab"
                    aria-controls="asian-panel"
                    aria-selected="false"
                    href="#"
                    >아시안</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="fastfood-tab"
                    aria-controls="fastfood-panel"
                    aria-selected="false"
                    href="#"
                    >패스트푸드</a
                  >
                </li>
                <li class="nav__sub__list__item">
                  <a
                    role="tab"
                    id="lunchbox-tab"
                    aria-controls="lunchbox-panel"
                    aria-selected="false"
                    href="#"
                    >도시락</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav__item selected"><a href="/views/map.html">포장</a></li>
          <li class="nav__item">
            <a href="/views/liveShopping.html">쇼핑라이브</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="pickup-container ">
      <div class="pickup-tab">
        <!-- 탭 인덱스 -->
        <ul class="pickup-tab__list" role="tablist">
          <li id="tab1" role="tab" aria-controls="section1" aria-selected="true" tabindex="0">
            <span>가까운 순</span>
            <ul id="section1" role="tabpanel" class="show" aria-labelledby="tab1">
              <li><button>가까운 순</button></li>
              <li><button>주문 많은 순</button></li>
              <li><button>별점 높은 순</button></li>
              <li><button>찜많은 순</button></li>
            </ul>
          </li>
          <li id="tab2" role="tab" aria-controls="section2" aria-selected="false" tabindex="0">
            <span>메뉴 전체</span>
            <ul id="section2" role="tabpanel" aria-labelledby="tab2" class="dm__category__list">
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__sushi">돈까스&centerdot;회&centerdot;일식</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__chinese">중식</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__chicken">치킨</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__rice">백반&centerdot;죽&centerdot;국수</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__cafe">카페&centerdot;디저트</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__bunsik">분식</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__jjigae">찜&centerdot;탕&centerdot;찌개</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__pizza">피자</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__spagetti">양식</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__sam">고기&centerdot;구이</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__jok">족발&centerdot;보쌈</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__asian">아시안</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__burger">패스트푸드</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__yasik">야식</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__lunchbox">도시락</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__salad">채식</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__soup">국</button>
              </li>
              <li class="dm__category__item">
                <button href="/" class="dm__category__link__dairy">유제품</button>
              </li>
            </ul>
          </li>
          <li id="tab3" role="tab" aria-controls="section3" aria-selected="false" tabindex="0">
            <span>별점</span>
            <ul id="section3"" role="tabpanel" aria-labelledby="tab3">
              <li><button>전체</button></li>
              <li><button>주문 많은 순</button></li>
              <li><button>별점 높은 순</button></li>
              <li><button>찜많은 순</button></li>
            </ul>
          </li>
          <li id="tab4" role="tab" aria-controls="section4" aria-selected="false" tabindex="0">
            <span>기타</span>
            <ul id="section4" role="tabpanel" aria-labelledby="tab4">
              <li><button>쿠폰/할인</button></li>
              <li><button>예약가능</button></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- 맵 -->
      <section class="pickup-mapinfo">
        <div class="pickup-mapinfo__search">
          <h2 class="sr-only">검색창</h2>
          <form method="POST" action="/" class="pickup-mapinfo__search__form">
            <fieldset>
              <legend>검색 폼</legend>
              <div class="pickup-mapinfo__search__container">
                <input type="search" id="search" name="qqq" required />
                <button type="submit" id="submit" class="pickup-mapinfo__search-button"></button>
                <label for="submit" class="pickup-mapinfo__search__icon-search"></label>
              </div>
            </fieldset>
          </form>
          <!-- 카드리스트 -->
          <div class="pickup-cardlist-container">
            <ul class="pickup-cardlist">
              <!-- Restaurant Card -->
              <li class="restCard">
                <div class="imgContainer">
                  <div class="loading">
                    <div class="loadingImg blink_me"></div>
                  </div>

                  <img src="/assets/images/map/lowandslow.jpg" alt="스테이크" />
                </div>
                <div class="descContainer">

                  <div class="loading">
                    <div class="loading-text blink_me"></div>
                  </div>
                  <h3 class="restName">
                    <!-- 주문 상세 페이지로 넘어갈 것 -->
                    <a href="/" class="restLink">로우앤슬로우</a>
                  </h3>
                  <p class="sr-only">
                    스테이크플레터를 만나보세요.
                  </p>
                  <dl>
                    <div class="descWrapper__rating">
                      <dt class="rating-dt"><img src="/assets/images/components/restaurantCard/star.png" alt="별점"></dt>
                      <dd class="rating">4.8</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="minPrice">최소주문</dt>
                      <dd>9,000원</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="dilvTip">배달팁</dt>
                      <dd>
                        900원~1,900원<span class="sr-only">거리</span><span class="middot">&middot;</span>1.1km
                      </dd>
                    </div>
                    <br />
                    <div class="bmNo1wrapper">
                      <dt>배민<img src="/assets/images/components/restaurantCard/no1.png" alt="배민원" /></dt>
                      <dd>10~20분</dd>
                    </div>
                    <div class="loading">
                      <div class="loading-button blink_me"></div>
                    </div>
                  </dl>
                </div>
              </li>

              <li class="restCard">
                <div class="imgContainer">
                  <div class="loading">
                    <div class="loadingImg blink_me"></div>
                  </div>

                  <img src="/assets/images/map/yakitorigo.jpg" alt="꼬치구이" />

                </div>
                <div class="descContainer">
                  <div class="loading">
                    <div class="loading-text blink_me"></div>
                    <div class="loading-text blink_me"></div>
                  </div>
                  <h3 class="restName">
                    <!-- 주문 상세 페이지로 넘어갈 것 -->
                    <a href="/" class="restLink">야키토리고우</a>
                  </h3>
                  <p class="sr-only">
                    꼬치구이 이자카야 입니다
                  </p>
                  <dl>
                    <div class="descWrapper__rating">
                      <dt class="rating-dt"><img src="/assets/images/components/restaurantCard/star.png" alt="별점"></dt>
                      <dd class="rating">4.8</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="minPrice">최소주문</dt>
                      <dd>9,000원</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="dilvTip">배달팁</dt>
                      <dd>
                        900원~1,900원<span class="sr-only">거리</span><span class="middot">&middot;</span>1.1km
                      </dd>
                    </div>
                    <br />
                    <div class="bmNo1wrapper">
                      <dt>배민<img src="/assets/images/components/restaurantCard/no1.png" alt="배민원" /></dt>
                      <dd>10~20분</dd>
                    </div>
                    <div class="loading">
                      <div class="loading-button blink_me"></div>
                    </div>
                  </dl>
                </div>
              </li>
              <li class="restCard">
                <div class="imgContainer">
                  <div class="loading">
                    <div class="loadingImg blink_me"></div>
                  </div>

                  <img src="/assets/images/map/meadocks.jpg" alt="피자" />

                </div>
                <div class="descContainer">
                  <div class="loading">
                    <div class="loading-text blink_me"></div>
                    <div class="loading-text blink_me"></div>
                  </div>
                  <h3 class="restName">
                    <!-- 주문 상세 페이지로 넘어갈 것 -->
                    <a href="/" class="restLink">매덕스 피자</a>
                  </h3>
                  <p class="sr-only">
                    다양한 조각피자를 만나보세요.
                  </p>
                  <dl>
                    <div class="descWrapper__rating">
                      <dt class="rating-dt"><img src="/assets/images/components/restaurantCard/star.png" alt="별점">
                      </dt>
                      <dd class="rating">4.8</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="minPrice">최소주문</dt>
                      <dd>9,000원</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="dilvTip">배달팁</dt>
                      <dd>
                        900원~1,900원<span class="sr-only">거리</span><span class="middot">&middot;</span>1.1km
                      </dd>
                    </div>
                    <br />
                    <div class="bmNo1wrapper">
                      <dt>배민<img src="/assets/images/components/restaurantCard/no1.png" alt="배민원" /></dt>
                      <dd>10~20분</dd>
                    </div>
                    <div class="loading">
                      <div class="loading-button blink_me"></div>
                    </div>
                  </dl>
                </div>
              </li>
              <li class="restCard">
                <div class="imgContainer">
                  <div class="loading">
                    <div class="loadingImg blink_me"></div>
                  </div>

                  <img src="/assets/images/map/ssongtai.jpg" alt="쏭타이" />

                </div>
                <div class="descContainer">
                  <div class="loading">
                    <div class="loading-text blink_me"></div>
                    <div class="loading-text blink_me"></div>
                  </div>
                  <h3 class="restName">
                    <!-- 주문 상세 페이지로 넘어갈 것 -->
                    <a href="/" class="restLink">쏭타이</a>
                  </h3>
                  <p class="sr-only">
                    태국음식점 쏭타이를 만나보세요.
                  </p>
                  <dl>
                    <div class="descWrapper__rating">
                      <dt class="rating-dt"><img src="/assets/images/components/restaurantCard/star.png" alt="별점"></dt>
                      <dd class="rating">4.8</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="minPrice">최소주문</dt>
                      <dd>9,000원</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="dilvTip">배달팁</dt>
                      <dd>
                        900원~1,900원<span class="sr-only">거리</span><span class="middot">&middot;</span>1.1km
                      </dd>
                    </div>
                    <br />
                    <div class="bmNo1wrapper">
                      <dt>배민<img src="/assets/images/components/restaurantCard/no1.png" alt="배민원" /></dt>
                      <dd>10~20분</dd>
                    </div>
                    <div class="loading">
                      <div class="loading-button blink_me"></div>
                    </div>
                  </dl>
                </div>
              </li>
              <li class="restCard">
                <div class="imgContainer">
                  <div class="loading">
                    <div class="loadingImg blink_me"></div>
                  </div>

                  <img src="/assets/images/components/restaurantCard/gukbab2.jpg" alt="설렁탕" />

                </div>
                <div class="descContainer">
                  <div class="loading">
                    <div class="loading-text blink_me"></div>
                    <div class="loading-text blink_me"></div>
                  </div>
                  <h3 class="restName">
                    <!-- 주문 상세 페이지로 넘어갈 것 -->
                    <a href="/" class="restLink">백년설렁탕</a>
                  </h3>
                  <p class="sr-only">
                    고기가 많은 설렁탕으로 유명한 백년설렁탕의 메뉴를 눌러 확인해보세요.
                  </p>
                  <dl>
                    <div class="descWrapper__rating">
                      <dt class="rating-dt"><img src="/assets/images/components/restaurantCard/star.png" alt="별점"></dt>
                      <dd class="rating">4.8</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="minPrice">최소주문</dt>
                      <dd>9,000원</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="dilvTip">배달팁</dt>
                      <dd>
                        900원~1,900원<span class="sr-only">거리</span><span class="middot">&middot;</span>1.1km
                      </dd>
                    </div>
                    <br />
                    <div class="bmNo1wrapper">
                      <dt>배민<img src="/assets/images/components/restaurantCard/no1.png" alt="배민원" /></dt>
                      <dd>10~20분</dd>
                    </div>
                    <div class="loading">
                      <div class="loading-button blink_me"></div>
                    </div>
                  </dl>
                </div>
              </li>
              <li class="restCard">
                <div class="imgContainer">
                  <div class="loading">
                    <div class="loadingImg blink_me"></div>
                  </div>

                  <img src="/assets/images/components/restaurantCard/gukbab2.jpg" alt="설렁탕" />

                </div>
                <div class="descContainer">
                  <div class="loading">
                    <div class="loading-text blink_me"></div>
                    <div class="loading-text blink_me"></div>
                  </div>
                  <h3 class="restName">
                    <!-- 주문 상세 페이지로 넘어갈 것 -->
                    <a href="/" class="restLink">백년설렁탕</a>
                  </h3>
                  <p class="sr-only">
                    고기가 많은 설렁탕으로 유명한 백년설렁탕의 메뉴를 눌러 확인해보세요.
                  </p>
                  <dl>
                    <div class="descWrapper__rating">
                      <dt class="rating-dt"><img src="/assets/images/components/restaurantCard/star.png" alt="별점"></dt>
                      <dd class="rating">4.8</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="minPrice">최소주문</dt>
                      <dd>9,000원</dd>
                    </div>
                    <div class="descWrapper">
                      <dt class="dilvTip">배달팁</dt>
                      <dd>
                        900원~1,900원<span class="sr-only">거리</span><span class="middot">&middot;</span>1.1km
                      </dd>
                    </div>
                    <br />
                    <div class="bmNo1wrapper">
                      <dt>배민<img src="/assets/images/components/restaurantCard/no1.png" alt="배민원" /></dt>
                      <dd>10~20분</dd>
                    </div>
                    <div class="loading">
                      <div class="loading-button blink_me"></div>
                    </div>
                  </dl>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div id="map">
          <div class="loading">
            <div class="loading-map blink_me"></div>
          </div>
        </div>

      </section>
    </div>
    <!-- footer -->
    <footer class="footer">
      <div class="footer__inner">
        <ul class="footer__nav__list">
          <li>
            <a href="#">사업자정보확인</a><span aria-hidden="true">|</span>
          </li>
          <li><a href="#">이용약관</a><span aria-hidden="true">|</span></li>
          <li>
            <a href="#">전자금융거래이용약관</a>
            <span aria-hidden="true">|</span>
          </li>
          <li><a href="#" class="footer__bold">개인정보처리방침</a></li>
        </ul>
        <div class="footer__toggle__company">
          <h2
            class="footer__toggle__company__title footer__bold"
            role="button"
            tabindex="0"
          >
            (주)우아한형제들
          </h2>
          <section class="footer__toggle__company__detail">
            <h2 class="sr-only">기업 상세 및 고객센터 정보</h2>
            <ul class="footer__toggle__company__detail__list">
              <li>대표이사 김범준</li>
              <li>사업자등록번호 120-87-65763</li>
              <li>통신판매업 서울 송파-0515</li>
              <li>호스팅서비스제공자 (주)우아한형제들</li>
              <li>CS@woowahan.com</li>
              <li>서울특별시 송파구 위례성대로 2 장은빌딩</li>
              <li>
                전자금융분쟁처리 Tel 1600-0987(유료), 080-849-0987(무료)
              </li>
              <li>Fax 050-6050-0400</li>
            </ul>
            <div class="footer__toggle__company__detail__service">
              <div class="footer__toggle__company__detail__service__1">
                <p>고객센터(대표)</p>
                <p>1600-0987</p>
                <p>24시간 운영, 연중무휴</p>
              </div>
              <div class="footer__toggle__company__detail__service__2">
                <p>고객센터(B마트/배민스토어)</p>
                <p>1600-0025</p>
                <p>오전 09:00~익일 새벽 01:00</p>
              </div>
            </div>
          </section>
        </div>
        <p class="footer__notices">
          <span>
            (주)우아한형제들은 통신판매중개자이며, 통신판매의 당사자가
            아닙니다.
          </span>
          <span>
            따라서 (주)우아한형제들은 상품, 거래정보 및 거래에 대하여 책임을
            지지 않습니다.
          </span>
        </p>
      </div>
    </footer>
  </div>
  <!-- 모달 -->
  <div class="modal">
    <div class="modal__body">
      <h2 class="title">주소 설정</h2>
      <button class="modal__body__close__btn" aira-label="닫기"></button>
      <ul class="my__place__list">
        <li tabindex="0">우리 집</li>
        <li tabindex="0">우리 회사</li>
        <li tabindex="0"><a href="/">주소 추가</a></li>
      </ul>
    </div>
  </div>
</body>
</html>