<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <script type="module" src="../js/headFoot.js" defer></script>
  <title>주문 상세 페이지</title>
</head>
<body class="order__detail">
  <div class="tablet__container">
    <!-- 해더 -->
    <header class="header">
      <div class="header__container">
        <div class="header__sub1">
          <h1 class="logo">
            <a href="./main.html">
              <img
                src="../images/components/header/logo72.png"
                alt="배달의 민족 로고"
              />
              <img
                src="../images/components/header/logo.svg"
                alt="배달의 민족"
              />
            </a>
          </h1>
          <p class="header__location">주소를 알려주세요!</p>
          <div class="login__container">
            <a href="/" class="header__login">로그인</a>
            <a href=""
              ><img
                src="../images/components/header/person32.png"
                alt="마이배민"
            /></a>
            <a href="./cart.html" class="cart__img"
              ><img src="../images/components/header/cart46.png" alt="장바구니"
            />
            <span class="total__count--group local__count__group">
              <span class="sr-only">총</span>
              <span class="local__count">1</span>
              <span class="sr-only">개</span>
            </span>
          </a>
          </div>
        </div>
        <div class="header__sub2">
          <form action="#">
            <fieldset class="search__fieldset">
              <legend>음식 검색창</legend>
              <label for="search"></label>
              <input type="search" id="search" name="qq" placeholder="닭발?   순대?   곱창?" />
            </fieldset>
          </form>
        </div>
      </div>

      </div>
      
    </header>
    <main>
      <form action="./storeFilled.html">
        <fieldset class="order__detail__main">
          <legend class="sr-onlly">상세 주문 내역 폼</legend>
          <div class="order__detail__box__shadow__wrapper">
            <section class="order__detail__desc">
              <div class="order__detail__desc__content">
                <h2>올스타 도넛세트</h2>
                <p>던킨에서 가장 잘 나가는 도넛6개로 구성된 버라이어티 6EA와 맛있는 먼치킨 10EA가 더해진 올스타 도넛세트 버라이어티 6EA</p>
              </div>
            </section>
            <section class="order__detail__menu">
              <h2>가격</h2>
              <ul class="order__detail__radio--group">
                <li>
                  <label for="s">
                    <span class="order__detail__name">페이머스 글레이즈드, 올리브 츄이스티, 허니후리터, 카푸치노츄이스티, 스트로베리필드, 바바리안필드</span>
                    <span class="order__detail__menu__price">15,000원</span>
                  </label>
                  <input id="s" type="radio" name="price">
                </li>
                <li>
                  <label for="m">
                    <span class="order__detail__name">초코 글레이즈드, 올리브 츄이스티, 허니후리터, 카푸치노츄이스티, 허니필드, 바바리안필드</span>
                    <span class="order__detail__menu__price">15,000원</span>
                  </label>
                  <input id="m" type="radio" name="price">
                </li>
                <li>
                  <label for="l">
                    <span class="order__detail__name">허니 글레이즈드, 올리브 츄이스티, 허니후리터, 카페모카츄이스티, 스트로베리필드, 바바리안필드</span>
                    <span class="order__detail__menu__price">15,000원</span>
                  </label>
                  <input id="l" type="radio" name="price">
                </li>
              </ul>
            </section>
            <section class="order__detail__menu">
              <h2>메뉴선택</h2>
              <ul class="order__detail__radio--group">
                <li>
                  <label for="bone">
                    <span class="order__detail__name">아메리카노</span>
                    <span class="order__detail__menu__price"><span aria-hidden="true">+</span>0원</span>
                  </label>
                  <input id="bone" type="radio" name="type">
                </li>
                <li>
                  <label for="boneless">
                    <span class="order__detail__name">카페라떼</span>
                    <span class="order__detail__menu__price"><span aria-hidden="true">+</span>0원</span>
                  </label>
                  <input id="boneless" type="radio" name="type">
                </li>
                <li>
                  <label for="rice">
                    <span class="order__detail__name">카페모카</span>
                    <span class="order__detail__menu__price"><span aria-hidden="true">+</span>0원</span>
                  </label>
                  <input id="rice" type="radio" name="type">
                </li>
              </ul>
            </section>
            <section class="order__detail__menu">
              <h2>추가선택 <span aria-hidden="true">(</span>최대 2개<span class="sr-only">선택 가능</span><span aria-hidden="true">)</span></h2>
              <ul class="order__detail__chk--group">
                <li><label for="ex1"><span class="order__detail__name">자몽에이드</span><span class="order__detail__menu__price"><span class="sr-only">+</span>1,000원</span></label><input type="checkbox" name="extra" id="ex1"></li>
                <li><label for="ex2"><span class="order__detail__name">복숭아 아이스티</span> <span class="order__detail__menu__price"><span class="sr-only">+</span>500원</span></label><input type="checkbox" name="extra" id="ex2"></li>
                <li><label for="ex3"><span class="order__detail__name">요거트스무디</span> <span class="order__detail__menu__price"><span class="sr-only">+</span>2,000원</span></label><input type="checkbox" name="extra" id="ex3"></li>
                <li><label for="ex4"><span class="order__detail__name">딸기쿠키프라페</span> <span class="order__detail__menu__price"><span class="sr-only">+</span>3,000원</span></label><input type="checkbox" name="extra" id="ex4"></li>
              </ul>
            </section>
            <section class="order__detail__total">
              <h2>수량</h2>
              <div class="order__detail__total__btn--group">
                <button type="button" class="mius__btn" aria-label="수량 하나 줄이기"></button>
                <span><span class="order__detail__total__num">1</span>개</span>
                <button type="button" class="plus__btn" aria-label="수량 하나 더하기"></button>
              </div>
            </section>
          </div>
          <!-- 주문 내역서 컴포넌트 -->
          <!-- .bill에 .off추가시 텅 이미지 추가되도록 스타일 설정 -->
          <div class="bill">
            <section class="bill__warning">
              <h2 class="sr-only">경고문</h2>
              <p class="bill__warning__desc">메뉴 사진은 연출한 이미지로 실제 조리한 형식과 다를 수 있습니다.</p>
            </section>
            <section class="bill__total">
              <h2 class="desktop">주문 내역서</h2>
              <p class="bill__total__limit">배달최소주문금액 12,000원</p>
              <div class="desktop">
                <!-- 텅 이미지 -->
                <div class="empty"></div>
    
                <!-- 주문 내역서 리스트 -->
                <ul class="bill__total__list desktop">
                  <li class="bill__total__item">
                    <span class="bill__total__item__product">페이머스 글레이즈드, 올리브 츄이스티, 허니후리터, 카푸치노츄이스티, 스트로베리필드, 바바리안필드<span>15,000원</span></span>
                    <ul class="bill__total__detail__list">
                      <li class="bill__total__item"><span class="bill__total__item__product">아메리카노<span>0원</span></span></li>
                      <li class="bill__total__item"><span class="bill__total__item__product">자몽에이드<span>1,000원</span></span></li>
                    </ul>
                  </li>
                </ul>
                <p class="bill__total__price">
                  <span>총결제금액</span><span class="total__price">16,000원</span>
                </p>
              </div>
              <!-- 클래스 off추가되면 button disabled=true설정 필요 -->
              <button type="submit">
                <span class="total__count--group">
                  <span class="sr-only">총</span>
                  <span class="total__count">1</span>
                  <span class="sr-only">개</span>
                </span>
                <span><span class="display__off"><span class="total__price">16,000</span>원</span> 담기</span>
              </button>
            </section>
          </div>
        </fieldset>
      </form>
    </main>
    <!-- footer -->
    <footer class="footer">
      <div class="footer__sub">
        <p class="">
          <a href="#">사업자정보확인 </a><span aria-hidden="true">|</span>
          <a href="#">이용약관 </a> <span aria-hidden="true">|</span>
          <a href="#">전자금융거래이용약관 </a>
          <span aria-hidden="true">|</span>
          <a href="#" class="footer__bold">개인정보처리방침 </a>
        </p>
        <p
          class="company__detail__toggle footer__bold"
          role="button"
          tabindex="0"
        >
          (주)우아한형제들
        </p>
        <section class="company__detail">
          <h2 class="sr-only">기업 상세 및 고객센터 정보</h2>
          <div class="company__detail__sub">
            <p class="">
              대표이사 김범준 <span aria-hidden="true">|</span> 사업자등록번호
              120-87-65763
            </p>
            <p>
              (주)우아한형제들은 상품, 거래정보 및 거래에 대하여 책임을 지지
              않습니다.
            </p>
          </div>
          <button type="button" class="top__btn" aria-label="맨 위로 이동"></button>
        </div>
    </footer>
    <script src="../js/orderDetail.js"></script>
  </div>
  <div class="modal">
    <div class="modal__body">
      <section class="my__place">
        <h2 tabindex="0">주소 설정</h2>
              <ul class="my__place__ul">
                <li tabindex="0">우리 집</li>
                <li tabindex="0">우리 회사</li>
                <li tabindex="0"><a href="/">주소 추가</a></li>
              </ul>
      </section>
    </div>
  </div>
</body>
</html>
