<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>배달의 민족 for Web</title>
  <meta name="description" content="배달의 민족 웹-태블릿 전용 페이지입니다." />
  <meta name="keywords" content="배달의민족, 배달, 포장, 음식, 주문, 웹주문, 배민, 라이브, 배민쇼핑라이브" />
  <meta name="author" content="개발의민족" />
  <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/headFoot.js" type="module"></script>
</head>

<body class="store__body">
  <!-- 해더 -->
  <header class="header">
    <div class="header__container">
      <div class="header__top">
        <h1 class="header__top__logo">
          <a href="/index.html">
            <img
              src="/assets/images/components/header/logo.png"
              alt="우리가 어떤 민족 입니까?"
            />
            <img
              src="/assets/images/components/header/logo_text.png"
              alt="배달의 민족"
            />
          </a>
        </h1>
        <p class="header__top__location" tabindex="0" role="button">
          주소를 알려주세요
        </p>
        <div class="header__top__link">
          <a href="#" class="header__top__link__login">로그인</a>
          <a href="#" class="header__top__link__myNCart"> 마이배민 </a>
          <a href="/views/cart.html" class="header__top__link__myNCart">
            장바구니
            <span class="total__count--group local__count__group">
              <span class="sr-only">총</span>
              <span class="total__count local__count">1</span>
              <span class="sr-only">개</span>
            </span>
          </a>
        </div>
      </div>
      <div class="header__bottom">
        <form action="#">
          <fieldset class="header__bottom__search__fieldset">
            <legend>음식 검색 입력폼</legend>
            <label for="search" class="sr-only">음식 검색창</label>
            <input
              type="search"
              id="search"
              name="menu"
              placeholder="닭발? 순대? 곱창?"
            />
          </fieldset>
        </form>
      </div>
    </div>
  </header>
   <!-- 메인 -->
  <main class="store order__detail__main">
    <div class="order__detail__box__shadow__wrapper">
      <h1 class="store__main__title sr-only">음식점 메인 페이지 입니다.</h1>
      <div class="store__header">
        <div class="store__header__title-card">
          <h2 class="store__header__title-card__name">던킨 강남역사 2호점</h2>
          <div class="store__header__title-card__star-point">
            <span class="star star-full"></span>
            <span class="star star-full"></span>
            <span class="star star-full"></span>
            <span
              class="star star-full">
            </span>
            <span class="star star-half"></span>
            <span class="store__header__title-card__star-point__num">4.5</span>
          </div>
          <div class="store__header__title-card__review">
            <span class="store__header__title-card__review__recent-review">최근리뷰 84</span>
            <span aria-hidden="true">|</span>
            <span class="store__header__title-card__review__recent-manager-reply">최근사장님댓글 84</span>
          </div>
          <div class="store__header__title-card__contect">
            <a href="tel:050881949965" type="button" class="store__header__title-card__contect__tel">
              전화</a>
            <button class="store__header__title-card__contect__zzim" onclick="handleTitleClick()">찜
              84</button>
            <button class="store__header__title-card__contect__share">공유</button>
          </div>
        </div>
      </div>
      <div class="store__header__coupon">
        <button class="store__header__coupon__btn">
          최대 4000원 쿠폰 받기
        </button>
      </div>
      <div class="store__order-info">
        <h3 class="store__order-info__header sr-only">배달, 포장 주문 정보 입니다.</h3>

        <div class="store__order__info__tabs">
          <h4 class="store__order-info__tabs__header on" role="tab">배달주문</h4>
          <dl class="store__order-info__tabs__list">
            <dt class="store__order-info__list__min-order-price">
              최소주문금액
            </dt>
            <dd class="store__order-info__list__min-order-price__value">
              15,000원
            </dd>
            <dt class="store__order-info__list__pay-method">결제방법</dt>
            <dd class="store__order-info__list__pay-method__value">
              바로결제, 만나서결제, 예약가능
            </dd>
            <dt class="sotre__order-info__list__delivery-tip">배달팁</dt>
            <dd class="sotre__order-info__list__delivery-tip__value">
              3,000원
            </dd>
            <dt class="sotre__order-info__list__delivery-time">배달시간</dt>
            <dd class="sotre__order-info__list__delivery-time__value">
              45~60분 소요예상
            </dd>
          </dl>
          <h4 class="store__order-info__tabs__header package" role="tab">포장/방문주문</h4>
          <dl class="store__order-info__tabs__list">
            <dt class="store__order-info__list____discount">
              최소주문금액<span class="badge-question">
            </dt>
            <dd class="store__order-info__list____discount__value">4,000원 <span
                class="store__order-info__list____discount__value__detail">12,000원 이상 포장 시 알인됩니다.</span></dd>
            <dt class="store__order-info__min-order-price">최소주문금액</dt>
            <dd class="store__order-info__min-order-price__value">15,000</dd>
            <dt class="store__order-info__use-method">이용방법</dt>
            <dd class="store__order-info__use-method__value">포장</dd>
            <dt class="store__order-info__pick-up-time">픽업시간</dt>
            <dd class="store__order-info__pick-up-time__value">6~26분 소요 예상<span class="badge-question"></span></dd>
            <dt class="store__order-info__pick-up-time">위치안내</dt>
            <dd class="store__order-info__pick-up-time__value">서울특별시 마포구 백범로31길 7 1동 113호</dd>
            <dt class="store__order-info__pay-method">결제방법</dt>
            <dd class="store__order-info__pay0method__value">바로결제</dd>
          </dl>
        </div>
      </div>
      <!-- store main -->
      <div class="store__main">
        <!-- store menu tab-->
        <nav class="store__main__nav">
          <h3 class="store__main__header sr-only">음식점 메뉴, 정보, 리뷰 정보 입니다.</h3>
          <ul class="store__main__nav__list" role="tablist">
            <li class="store__main__nav__item is-active" tabindex="0" role="tab">메뉴</li>
            <li class="store__main__nav__item" tabindex="0" role="tab">정보</li>
            <li class="store__main__nav__item" tabindex="0" role="tab">리뷰</li>
          </ul>
        </nav>
        <section class="store__main__menu" role="tabpanel">
          <h4 class="store__main__menu__title sr-only" role="tab">메뉴</h4>
          <!-- store menu tab -->
          <ul class="store__main__menu__tab__list" role="tablist">
            <li class="store__main__menu__tab__item is-active" role="tab"><a href="#">인기 메뉴</a></li>
            <li class="store__main__menu__tab__item" role="tab"><a href="#">도너츠(팩)</a></li>
            <li class="store__main__menu__tab__item" role="tab">
              <a href="#">커피</a>
            </li>
          </ul>
          <p class="store__main__menu__desc">
            <!-- <a class="badge-place-of-origin">원산지 표기</a> -->
            <span class="badge-cesco">세스코 멤버스</span>
            강남역 신분당선 6번출구 지하 1층 출입구에서 운영중입니다.
          </p>
          <div class="signature store__main__menu__category" role="tabpanel">
            <h5 class="signature store__main__menu__category__title">
              인기 메뉴
            </h5>
            <ul class="signature store__main__menu__category__list">
              <li class="signature store__main__menu__category__item">
                <a href="/views/orderDetail.html">
                  <div class="store__main__menu__category__item__img">
                    <img src="/assets/images/reataurant-detail/donut1.png" alt="">
                  </div>
                  <h6 class="signature store__main__menu__category__item__heading">
                    <span class="badge-signature" aria-label="인기 상품"></span>
                    연유 보스톤 크림
                  </h6>
                  <p class="store__main__menu__category__item__desc__wrapper">
                    <span class="store__main__menu__category__item__desc">
                      담콤 고소한 연유필링을 채우고 진한 초콜릿을 토핑한 도넛
                    </span>
                    <span class="store__main__menu__category__item__price">1,900원</span>
                    <span class="store__main__menu__category__item__detail warning">품절 임박 3개 남음</span>
                  </p>
                </a>
              </li>
              <li class="signature store__main__menu__category__item">
                <a href="/views/orderDetail.html" class="store__main__menu__categoty__link">
                  <div class="store__main__menu__category__item__img">
                    <img  src="/assets/images/reataurant-detail/donut2.jpeg" alt="">
                  </div>
                  <h6 class="signature store__main__menu__category__item__heading">
                    <span class="badge-signature" aria-label="인기 상품"></span>
                    스트로베리필드
                  </h6>
                  <p class="store__main__menu__category__item__desc__wrapper">
                    <span class="store__main__menu__category__item__desc">
                      맛있는 딸기각 상큼, 새하얀 슈가파우더가 입안에서 샤르륵
                    </span>
                    <span class="store__main__menu__category__item__price">1,700원</span>
                  </p>
                </a>
              </li>
              <li class="signature store__main__menu__category__item">
                <a href="/views/orderDetail.html" class="store__main__menu__categoty__link">
                  <div class="store__main__menu__category__item__img">
                    <img src="/assets/images/reataurant-detail/donut3.png" alt="">
                  </div>
                  <h6 class="signature store__main__menu__category__item__heading">
                    <span class="badge-signature" aria-label="인기 상품"></span>
                    올리브 츄이스티
                  </h6>
                  <p class="store__main__menu__category__item__desc__wrapper">
                    <span class="store__main__menu__category__item__desc">
                      향긋한 올리브유를 사용한 쫄깃 도넛
                    </span>
                    <span class="store__main__menu__category__item__price">1,700원</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
          <!-- 메뉴 카테고리 -->
          <div class="store__main__menu__category">
            <h5 class="store__main__menu__category__title">
              커피
            </h5>
            <p class="store__main__menu__category__desc"></p>
            <ul class="store__main__menu__category__list">
              <li class="store__main__menu__category__item">
                <a class="store__main__menu__categoty__link">
                  <div class="store__main__menu__category__item__img">
                    <img src="/assets/images/dunkin/IMG_6226.PNG" alt="아메리카노">
                  </div>
                  <h6 class="signature store__main__menu__category__item__heading">
                    아메리카노
                  </h6>
                  <p class="store__main__menu__category__item__desc__wrapper">
                    <span class="store__main__menu__category__item__desc">
                      풍부한 향이 있는 미디엄 로스팅의 아메리카노<br />(카페인 함유제품)
                    </span>
                    <span class="store__main__menu__category__item__price">3,700원</span>
                    <span class="store__main__menu__category__item__detail">이벤트 제품</span>
                  </p>
                </a>
              </li>
              <li class="store__main__menu__category__item">
                <a class="store__main__menu__categoty__link">
                  <div class="store__main__menu__category__item__img">
                    <img src="/assets/images/dunkin/IMG_6227.PNG" alt="따뜻한 카페라떼">
                  </div>
                  <h6 class="signature store__main__menu__category__item__heading">
                    카페라떼
                  </h6>
                  <p class="store__main__menu__category__item__desc__wrapper">
                    <span class="store__main__menu__category__item__desc">
                      우유의 고소함과 부드러움이 잘 어울리는 커피<br />(카페인 함유제품)
                    </span>
                    <span class="store__main__menu__category__item__price">4,000원</span>
                  </p>
                </a>
              </li>
              <li class="store__main__menu__category__item">
                <a class="store__main__menu__categoty__link">
                  <div class="store__main__menu__category__item__img">
                    <img src="/assets/images/dunkin/IMG_6228.PNG" alt="따뜻한 카푸치노">
                  </div>
                  <h6 class="signature store__main__menu__category__item__heading">
                    카푸치노
                  </h6>
                  <p class="store__main__menu__category__item__desc__wrapper">
                    <span class="store__main__menu__category__item__desc">
                      폭신한 우유거품과 진한 에스프레소가 조화로운 카푸치노<br />(카페인 함유제품)
                    </span>
                    <span class="store__main__menu__category__item__price">4,000원</span>
                  </p>
                </a>
              </li>
              <li class="store__main__menu__category__item">
                <a class="store__main__menu__categoty__link">
                  <div class="store__main__menu__category__item__img">
                    <img src="/assets/images/dunkin/IMG_6229.PNG"  alt="따뜻한 카페모카">
                  </div>
                  <h6 class="signature store__main__menu__category__item__heading">
                    카페모카
                  </h6>
                  <p class="store__main__menu__category__item__desc__wrapper">
                    <span class="store__main__menu__category__item__desc">
                      달콤한 초코, 부드러운 휘핑크림이 조화로운 카페모카<br />(배달주문시 휘핑크림은 제공되지 않습니다, 카페인
                    함유제품)
                    </span>
                    <span class="store__main__menu__category__item__price">4,400원</span>
                  </p>
                </a>
              </li>
              <li class="store__main__menu__category__item">
                <a class="store__main__menu__categoty__link">
                  <div class="store__main__menu__category__item__img">
                    <img src="/assets/images/dunkin/IMG_6230.PNG"  alt="따뜻한 바닐라라떼">
                  </div>
                  <h6 class="signature store__main__menu__category__item__heading">
                    바닐라라떼
                  </h6>
                  <p class="store__main__menu__category__item__desc__wrapper">
                    <span class="store__main__menu__category__item__desc">
                      향긋한 바닐라가 조화로운 달콤한 바닐라 라떼<br />(배달주문시 휘핑크림은 제공되지 않습니다, 카페인
                    함유제품)
                    </span>
                    <span class="store__main__menu__category__item__price">4,400원</span>
                  </p>
                </a>
              </li>
              <li class="store__main__menu__category__item">
                <a class="store__main__menu__categoty__link">
                  <div class="store__main__menu__category__item__img">
                    <img src="/assets/images/dunkin/IMG_6231.PNG" alt="따뜻한 카라멜마끼아또">
                  </div>
                  <h6 class="signature store__main__menu__category__item__heading">
                    카라멜마끼아또
                  </h6>
                  <p class="store__main__menu__category__item__desc__wrapper">
                    <span class="store__main__menu__category__item__desc">
                      따뜻한 우유, 달콤한 카라멜이 조화로운 카라멜마끼아또<br />(카페인 함유제품)
                    </span>
                    <span class="store__main__menu__category__item__price">4,400원</span>
                  </p>
    
                </a>
              </li>
            </ul>
          </div>
          <div class="store__main__menu__category">
            <h5 class="store__main__menu__category__title">
              대표메뉴
            </h5>
            <ul class="store__main__menu__category__list">
              <li class="store__main__menu__category__item">
                <h6 class="store__main__menu__category__item__heading">
                  <span class="badge-signature" aria-label="인기 상품"></span>
                  슈퍼잭슨(P)
                </h6>
                <p class="store__main__menu__category__item__desc__wrapper">
                  <span class="store__main__menu__category__item__desc">
                    토마토소스, 모짜렐라치즈, 페퍼로니, 소시지, 크러쉬드 소고기, 베이컨, 적양파, 구운파프리카
                  </span>
                  <span class="store__main__menu__category__item__price">11,000원</span>
                  <span class="badge-manager-recommend">사장님 추천</span>
                </p>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <!-- 원산지 표기 -->
      <!-- <div class="store__main__menu__place-of-origin">
      </div> -->
      <!-- store info tab -->
      <!-- <section class="store__main__info">
        <h4 class="store__main__menu__title" role="tab">정보</h4>
      </section> -->
      <!-- store review tab -->
      <!-- <section class="store__main__review">
        <h4 class="store__main__menu__title" role="tab">리뷰</h4>
      </section> -->
    </div>
    <div class="bill off">
      <section class="bill__warning">
        <h2 class="sr-only">경고문</h2>
        <p class="bill__warning__desc">
          메뉴 사진은 연출한 이미지로 실제 조리한 형식과 다를 수 있습니다.
        </p>
      </section>
      <section class="bill__total">
        <h2 class="desktop">주문 내역서</h2>
        <p class="bill__total__limit">배달최소주문금액 12,000원</p>
        <div class="desktop">
          <!-- 텅 이미지 -->
          <div class="empty"></div>

          <!-- 주문 내역서 리스트 -->
          <!-- <ul class="bill__total__list desktop">
                <li class="bill__total__item">
                  <span class="bill__total__item__product"
                    >유명 찜닭<span>25,000원</span></span
                  >
                  <ul class="bill__total__detail__list">
                    <li class="bill__total__item">
                      <span class="bill__total__item__product"
                        >추가 목록들<span>1,000원</span></span
                      >
                    </li>
                    <li class="bill__total__item">
                      <span class="bill__total__item__product"
                        >추가 목록들<span>1,000원</span></span
                      >
                    </li>
                  </ul>
                </li>
                <li class="bill__total__item">
                  <span class="bill__total__item__product"
                    >유명 찜닭<span>25,000원</span></span
                  >
                  <ul class="bill__total__detail__list">
                    <li class="bill__total__item">
                      <span class="bill__total__item__product"
                        >추가 목록들<span>1,000원</span></span
                      >
                    </li>
                    <li class="bill__total__item">
                      <span class="bill__total__item__product"
                        >추가 목록들<span>1,000원</span></span
                      >
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="bill__total__price">
                <span>총결제금액</span><span class="total__price">25,000원</span>
              </p> -->
        </div>
        <!-- 클래스 off추가되면 button disabled=true설정 필요 -->
        <button type="button">
          <span class="total__count--group">
            <span class="sr-only">총</span>
            <span class="total__count">1</span>
            <span class="sr-only">개</span>
          </span>
          <span><span class="display__off"><span class="total__price">25,000</span>원</span>
            주문하기</span>
        </button>
      </section>
    </div>
  </main>
  <!-- footer -->
  <footer class="footer">
    <div class="footer__inner">
      <ul class="footer__nav__list">
        <li>
          <a href="#">사업자정보확인</a><span aria-hidden="true">|</span>
        </li>
        <li><a href="#">이용약관</a><span aria-hidden="true">|</span></li>
        <li>
          <a href="#">전자금융거래이용약관</a>
          <span aria-hidden="true">|</span>
        </li>
        <li><a href="#" class="footer__bold">개인정보처리방침</a></li>
      </ul>
      <div class="footer__toggle__company">
        <h2
          class="footer__toggle__company__title footer__bold"
          role="button"
          tabindex="0"
        >
          (주)우아한형제들
        </h2>
        <section class="footer__toggle__company__detail">
          <h2 class="sr-only">기업 상세 및 고객센터 정보</h2>
          <ul class="footer__toggle__company__detail__list">
            <li>대표이사 김범준</li>
            <li>사업자등록번호 120-87-65763</li>
            <li>통신판매업 서울 송파-0515</li>
            <li>호스팅서비스제공자 (주)우아한형제들</li>
            <li>CS@woowahan.com</li>
            <li>서울특별시 송파구 위례성대로 2 장은빌딩</li>
            <li>
              전자금융분쟁처리 Tel 1600-0987(유료), 080-849-0987(무료)
            </li>
            <li>Fax 050-6050-0400</li>
          </ul>
          <div class="footer__toggle__company__detail__service">
            <div class="footer__toggle__company__detail__service__1">
              <p>고객센터(대표)</p>
              <p>1600-0987</p>
              <p>24시간 운영, 연중무휴</p>
            </div>
            <div class="footer__toggle__company__detail__service__2">
              <p>고객센터(B마트/배민스토어)</p>
              <p>1600-0025</p>
              <p>오전 09:00~익일 새벽 01:00</p>
            </div>
          </div>
        </section>
      </div>
      <p class="footer__notices">
        <span>
          (주)우아한형제들은 통신판매중개자이며, 통신판매의 당사자가
          아닙니다.
        </span>
        <span>
          따라서 (주)우아한형제들은 상품, 거래정보 및 거래에 대하여 책임을
          지지 않습니다.
        </span>
      </p>
    </div>
  </footer>
 <!-- 모달 -->
 <div class="modal">
  <div class="modal__body">
    <h2 class="title">주소 설정</h2>
    <button class="modal__body__close__btn" aira-label="닫기"></button>
    <ul class="my__place__list">
      <li tabindex="0">우리 집</li>
      <li tabindex="0">우리 회사</li>
      <li tabindex="0"><a href="/">주소 추가</a></li>
    </ul>
  </div>
</div>
</body>

</html>