<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css" />
  <script src="../js/cart.js" type="module" defer></script>
</head>
<body>
  <div class="tablet__container">
    <header class="header">
      <div class="header__container">
        <div class="header__sub1">
          <h1 class="logo">
            <a href="../main.html">
              <img src="../images/components/header/logo72.png" alt="배달의 민족 로고" />
              <img src="../images/components/header/logo.svg" alt="배달의 민족" />
            </a>
          </h1>
          <p class="header__location" role="button" tabindex="0">주소를 알려주세요!</p>
          <div class="login__container">
            <a href="/" class="header__login">로그인</a>
            <a href=""><img src="../images/components/header/person32.png" alt="마이배민" /></a>
            <a href="./cart.html" class="cart__img"><img src="../images/components/header/cart46.png" alt="장바구니" />
              <span class="total__count--group local__count__group">
                <span class="sr-only">총</span>
                <span class="local__count">1</span>
                <span class="sr-only">개</span>
              </span>
            </a>
          </div>
        </div>
        <div class="header__sub2">
          <form action="#">
            <fieldset class="search__fieldset">
              <legend>음식 검색창</legend>
              <label for="search"></label>
              <input type="search" id="search" name="qq" placeholder="닭발?   순대?   곱창?" />
            </fieldset>
          </form>
        </div>
      </div>
    </header>
    <main class="cart__main">
      <div class="left__70">
        <h2 class="cart__heading">장바구니</h1> 
        <section class="cart__order__detail">
          <h2>던킨 강남역사 2호점</h2>
          <article>
            <div class="cart__order__detail__top">
              <span>올스타 도넛세트</span>
              <img class="cart__btn__x" src="../images/cart/x96.png" alt="장바구니에서 제거" />
            </div>
            <div class="cart__order__detail__main">
              <img src="../images/cart/iOS.jpg" alt="닭도리탕" />
              <ul>
                <li>가격 : 올스타 도넛 세트 (15,000원)</li>
                <li>메뉴선택 : 아메리카노</li>
                <li>서비스 선택 : 자몽에이드 (1,000원)</li>
                <li></li>
              </ul>
            </div>
            <div class="cart__detail__btn">
              2
            </div>
          </article>
          <a href="/" class="want__more__food">
            <img src="../images/cart/plus-black72.png" alt="플러스" />
            더 담으로 가기
          </a>
        </section>
      </div>
      <div class="bill">
        <section class="bill__warning">
          <h2 class="sr-only">경고문</h2>
          <p class="bill__warning__desc">(주)우아한형제들은 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 따라서 (주)우아한형제들은 상품, 거래정보 및 거래에 대하여 책임을 지지
            않습니다.</p>
        </section>
        <section class="bill__total">
          <h2 class="desktop">주문 내역서</h2>
          <p class="bill__total__limit">배달최소주문금액 12,000원</p>
          <div class="desktop">
            <!-- 텅 이미지 -->
            <div class="empty"></div>

            <!-- 주문 내역서 리스트 -->
            <ul class="bill__total__list desktop">
              <li class="bill__total__item">
                <span class="bill__total__item__product">올스타 도넛세트<span>16,000원</span></span>
                <ul class="bill__total__detail__list">
                  <li class="bill__total__item"><span class="bill__total__item__product">배달 팁<span>0원</span></span></li>
                </ul>
              </li>
            </ul>
            <p class="bill__total__price">
              <span>총결제금액</span><span class="total__price">16,000원</span>
            </p>
          </div>
          <!-- 클래스 off추가되면 button disabled=true설정 필요 -->
          <button type="button" class="cart__payment__btn">
            <span class="total__count--group">
              <span class="sr-only">총</span>
              <span class="total__count">1</span>
              <span class="sr-only">개</span>
            </span>
            <span><span class="display__off"><span class="total__price">16,000</span>원</span> 결제하기</span>
          </button>
        </section>
        <button type="button" class="cart__delete">장바구니 모두 제거</button>
      </div>
    </main>
  </div>

  <div class="modal">
    <div class="modal__body">
      <section class="my__place">
        <h2 tabindex="0">주소 설정</h2>
              <ul class="my__place__ul">
                <li tabindex="0">우리 집</li>
                <li tabindex="0">우리 회사</li>
                <li tabindex="0"><a href="/">주소 추가</a></li>
              </ul>
      </section>
    </div>
  </div>

  <!-- modal -->
  <div class="receit__modal">
    <div class="receit__wrapper">
      <div class="receit__modal__body">
        <section class="receit">
          <h2>주문 내역서</h2>
          <section class="receit__detail">
            <h3>던킨 강남역사 2호점</h3>
            <article>
                <ul class="receit__menu__list">
                  <li class="receit__menu__item">
                    <h4 class="receit__menu__item__name">올스타 도넛세트</h4>
                    <ul>
                      <li>페이머스 글레이즈드, 올리브 츄이스티, 허니후리터, 카푸치노츄이스티, 스트로베리필드, 바바리안필드</li>
                      <li>메뉴선택 : 아메리카노</li>
                      <li>추가선택 : 자몽에이드</li>
                    </ul>
                  </li>
                </ul>
            </article>
          </section>
        </section>
        <ul class="bill__total__list desktop">
          <li class="bill__total__item">
            <span class="bill__total__item__product">올스타 도넛세트<span>15,000원</span></span>
            <ul class="bill__total__detail__list">
              <li class="bill__total__item"><span class="bill__total__item__product">추가선택 : 자몽에이드<span>1,000원</span></li>
              <li class="bill__total__item"><span class="bill__total__item__product">배달 팁<span>0원</span></span></li>
            </ul>
          </li>
        </ul>
        <p class="bill__total__price">
          <span>총결제금액</span><span class="total__price">16,000원</span>
        </p>
      </div>
      <span class="payed">
        결제완료
      </span>
      <section class="bill__warning">
        <h2 class="sr-only">경고문</h2>
        <p class="bill__warning__desc">(주)우아한형제들은 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 따라서 (주)우아한형제들은 상품, 거래정보 및 거래에 대하여 책임을 지지
          않습니다.</p>
      </section>
      <button class="receit__exit" role="button" aria-label="영수증 나가기">
      </button>
      <a class="exit__home" href="../main.html" aria-label="홈 화면으로 돌아가기"></a>
    </div>
  </div>
</body>
<script src="../js/receit.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => document.querySelector('.total__count').innerHTML = localStorage.getItem('cart'));
</script>
</html>