<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈</title>
    <meta
      name="description"
      content="배달의 민족 웹-태블릿 전용 페이지입니다."
    />
    <meta
      name="keywords"
      content="배달의민족, 배달, 포장, 음식, 주문, 웹주문, 배민"
    />
    <meta name="author" content="개발의민족" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- Dilivery Main -->
    <div class="dm__container">
      <ul class="dm__category__list">
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__sushi"
            >돈까스&centerdot;회&centerdot;일식</a
          >
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__chinese">중식</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__chicken">치킨</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__rice"
            >백반&centerdot;죽&centerdot;국수</a
          >
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__cafe">카페&centerdot;디저트</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__bunsik">분식</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__jjigae"
            >찜&centerdot;탕&centerdot;찌개</a
          >
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__pizza">피자</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__spagetti">양식</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__sam">고기&centerdot;구이</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__jok">족발&centerdot;보쌈</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__asian">아시안</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__burger">패스트푸드</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__yasik">야식</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__lunchbox">도시락</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__salad">채식</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__soup">국</a>
        </li>
        <li class="dm__category__item">
          <a href="/" class="dm__category__link__dairy">유제품</a>
        </li>
      </ul>
    </div>
  </body>
</html>
