<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <title>라이브 시청</title>
</head>
<body class="live__video">
  <div class="live__video__wrapper loading">
    <div class="live__video__inner">
      <div class="loading__container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
    </div>
      <header class="live__video__header">
        <h1 class="live__video__logo">
          <a href="./liveShopping.html">
            쇼핑 라이브
          </a>
        </h1>
      </header>
      <section class="live__video__container">
        <div class="live__video__top">
          <div class="live__video__title__group">
            <h2>미스터피자X쥬라기월드 8천원이상 할인혜택</h2>
            <span class="live__video__viewer">63,185<span class="sr-only">명 시청 중</span></span>
            <span>프랜차이즈 상품권 특가 판매</span>
          </div>
          <ul class="live__video__top--btn--group">
            <li class="live__video__play--btn live__play__btn"><button aria-label="재생"></button></li>
            <li class="live__video__muted--btn live__muted__btn"><button aria-label="음소거" aria-pressed="false"></button></li>
            <li class="live__video__close--btn">
              <button aira-label="닫기"></button>
            </li>
          </ul>
        </div>
        <video controlslist="nodownload">
          <source src="../images/components/liveShoppingCard/ex01.webm" type="video/webm">
          <source src="../images/components/liveShoppingCard/ex01.mp4" type="video/mp4">
        </video>
        <div class="live__video__bottom">
          <div class="live__video__chatting">
          </div>
          <ul class="live__video__bottom--btn--group">
            <li><button type="button" aria-label="다운받을 수 있는 쿠폰 보기" data-num="1"></button></li>
            <li><button type="button" aria-label="좋아요(ㅋ)" class="like__btn"></button><span><span class="like__num">0</span><span class="sr-only">명이 좋아합니다.</span></li>
            <li><button type="button"><span><span class="sr-only">라이브</span>공유하기</span></button></li>
          </ul>
          <div class="live__video__sales">
            <a href="/" role="button" data-product-num="3개">
              <div class="live__video__sales__product">
                <p>
                  <span>미스터 피자 20,000원 상품권</span>
                  <span><span>15%</span>15,000원</span>
                </p>
              </div>
            </a>
          </div>
          <div class="live__video__controller--group">
            <div class="live__video__controller__progress--bar" role="progressbar" aria-label="영상 프로그래스 바" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" aria-valuetext="4분 30초 중 0분 0초">
              <span class="progress__bar"></span>
            </div>
            <div class="live__video__controller__time" aria-hidden="true">
              <span class="timer">00:00</span>
              <span class="all__timer">00:00</span>
            </div>
            <ul class="live__video__controller--btn--group" role="tablist">
              <li><button type="button" class="rewind__forward" aria-label="영상 앞으로 되감기" tabindex="0"></button></li>
              <li><button type="button" class="live__play__btn" aria-label="재생" aria-pressed="false" tabindex="-1"></button></li>
              <li><button type="button" class="rewind__backward" aria-label="영상 뒤로 감기" tabindex="-1"></button></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script src="../js/liveVideo.js"></script>
</body>
</html>