<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>라이브 쇼핑</title>
</head>
<body>
  <div class="banner">
    <div class="banner__inner">
      <div class="banner__text__group">
        <p class="banner__text">
          <span class="banner__text--bold">
            배민<br>
            쇼핑라이브는<br>
            지금 방송 중!
          </span>
          <span class="banner__text--normal">
            궁금한 맛은 직접 물어보고, 구경하는 재미<br>
            이제 배민에서 생생하게 경험하세요!
          </span>
        </p>
      </div>
    </div>
  </div>
  <main class="live">
    <div class="live__inner">
      <section class="live__special">
        <h2 class="live__title">지금 특가 중!</h2>
        <ul class="live__special__container">
          <li class="live__special__items">
            <a href="./liveVideo.html" target="_self" rel="opener" class="live__special__link">
              <div class="live__special__video">
                <figure>
                  <video muted>
                    <source src="../images/components/liveShoppingCard/ex01.mp4" type="video/mp4">
                  </video>
                  <figcaption>
                    <div class="live__special__video__caption">
                      <span class="sr-only" id="live__special__figcap">미스터 피자 상품권 특가 판매</span>
                      <span aria-labelledby="live__special__video__figcap">미스터 피자X쥬라기월드 8천원이상 할인 혜택</span>
                      <span class="live__special__video__type">
                        <span>기간한정특가</span>
                        <span>1,000원 쿠폰<span class="sr-only">제공</span></span>
                      </span>
                      <span class="live__special__video__viewer">63,185<span class="sr-only">명 시청 중</span></span>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div class="live__special__coupon">
                <dl>
                  <dt>
                    <span>미스터 피자 <span class="live__special__coupon--bottom">20,000원</span>상품권<span aria-hidden="true">/</span></span>
                  </dt>
                  <dd>
                    <span>25%<span class="sr-only">할인</span></span>
                    <span>15,000원<span class="sr-only">으로 판매중</span></span>
                  </dd>
                </dl>
              </div>
            </a>
          </li>
          <li class="live__special__items">
            <a href="./liveVideo.html" target="_self" rel="opener" class="live__special__link">
              <div class="live__special__video">
                <figure>
                  <video muted>
                    <source src="../images/components/liveShoppingCard/ex01.mp4" type="video/mp4">
                  </video>
                  <figcaption>
                    <div class="live__special__video__caption">
                      <span class="sr-only" id="live__special__figcap">미스터 피자 상품권 특가 판매</span>
                      <span aria-labelledby="live__special__video__figcap">미스터 피자X쥬라기월드 8천원이상 할인 혜택</span>
                      <span class="live__special__video__type">
                        <span>기간한정특가</span>
                        <span>1,000원 쿠폰<span class="sr-only">제공</span></span>
                      </span>
                      <span class="live__special__video__viewer">63,185<span class="sr-only">명 시청 중</span></span>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div class="live__special__coupon">
                <dl>
                  <dt>
                    <span>미스터 피자 <span class="live__special__coupon--bottom">20,000원</span>상품권<span aria-hidden="true">/</span></span>
                  </dt>
                  <dd>
                    <span>25%<span class="sr-only">할인</span></span>
                    <span>15,000원<span class="sr-only">으로 판매중</span></span>
                  </dd>
                </dl>
              </div>
            </a>
          </li>
          <li class="live__special__items">
            <a href="./liveVideo.html" target="_self" rel="opener" class="live__special__link">
              <div class="live__special__video">
                <figure>
                  <video muted>
                    <source src="../images/components/liveShoppingCard/ex01.mp4" type="video/mp4">
                  </video>
                  <figcaption>
                    <div class="live__special__video__caption">
                      <span class="sr-only" id="live__special__figcap">미스터 피자 상품권 특가 판매</span>
                      <span aria-labelledby="live__special__video__figcap">미스터 피자X쥬라기월드 8천원이상 할인 혜택</span>
                      <span class="live__special__video__type">
                        <span>기간한정특가</span>
                        <span>1,000원 쿠폰<span class="sr-only">제공</span></span>
                      </span>
                      <span class="live__special__video__viewer">63,185<span class="sr-only">명 시청 중</span></span>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div class="live__special__coupon">
                <dl>
                  <dt>
                    <span>미스터 피자 <span class="live__special__coupon--bottom">20,000원</span>상품권<span aria-hidden="true">/</span></span>
                  </dt>
                  <dd>
                    <span>25%<span class="sr-only">할인</span></span>
                    <span>15,000원<span class="sr-only">으로 판매중</span></span>
                  </dd>
                </dl>
              </div>
            </a>
          </li>
          <li class="live__special__items">
            <a href="./liveVideo.html" target="_self" rel="opener" class="live__special__link">
              <div class="live__special__video">
                <figure>
                  <video muted>
                    <source src="../images/components/liveShoppingCard/ex01.mp4" type="video/mp4">
                  </video>
                  <figcaption>
                    <div class="live__special__video__caption">
                      <span class="sr-only" id="live__special__figcap">미스터 피자 상품권 특가 판매</span>
                      <span aria-labelledby="live__special__video__figcap">미스터 피자X쥬라기월드 8천원이상 할인 혜택</span>
                      <span class="live__special__video__type">
                        <span>기간한정특가</span>
                        <span>1,000원 쿠폰<span class="sr-only">제공</span></span>
                      </span>
                      <span class="live__special__video__viewer">63,185<span class="sr-only">명 시청 중</span></span>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div class="live__special__coupon">
                <dl>
                  <dt>
                    <span>미스터 피자 <span class="live__special__coupon--bottom">20,000원</span>상품권<span aria-hidden="true">/</span></span>
                  </dt>
                  <dd>
                    <span>25%<span class="sr-only">할인</span></span>
                    <span>15,000원<span class="sr-only">으로 판매중</span></span>
                  </dd>
                </dl>
              </div>
            </a>
          </li>
          <li class="live__special__items">
            <a href="./liveVideo.html" target="_self" rel="opener" class="live__special__link">
              <div class="live__special__video">
                <figure>
                  <video muted>
                    <source src="../images/components/liveShoppingCard/ex01.mp4" type="video/mp4">
                  </video>
                  <figcaption>
                    <div class="live__special__video__caption">
                      <span class="sr-only" id="live__special__figcap">미스터 피자 상품권 특가 판매</span>
                      <span aria-labelledby="live__special__video__figcap">미스터 피자X쥬라기월드 8천원이상 할인 혜택</span>
                      <span class="live__special__video__type">
                        <span>기간한정특가</span>
                        <span>1,000원 쿠폰<span class="sr-only">제공</span></span>
                      </span>
                      <span class="live__special__video__viewer">63,185<span class="sr-only">명 시청 중</span></span>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div class="live__special__coupon">
                <dl>
                  <dt>
                    <span>미스터 피자 <span class="live__special__coupon--bottom">20,000원</span>상품권<span aria-hidden="true">/</span></span>
                  </dt>
                  <dd>
                    <span>25%<span class="sr-only">할인</span></span>
                    <span>15,000원<span class="sr-only">으로 판매중</span></span>
                  </dd>
                </dl>
              </div>
            </a>
          </li>
          <li class="live__special__items">
            <a href="./liveVideo.html" target="_self" rel="opener" class="live__special__link">
              <div class="live__special__video">
                <figure>
                  <video muted>
                    <source src="../images/components/liveShoppingCard/ex01.mp4" type="video/mp4">
                  </video>
                  <figcaption>
                    <div class="live__special__video__caption">
                      <span class="sr-only" id="live__special__figcap">미스터 피자 상품권 특가 판매</span>
                      <span aria-labelledby="live__special__video__figcap">미스터 피자X쥬라기월드 8천원이상 할인 혜택</span>
                      <span class="live__special__video__type">
                        <span>기간한정특가</span>
                        <span>1,000원 쿠폰<span class="sr-only">제공</span></span>
                      </span>
                      <span class="live__special__video__viewer">63,185<span class="sr-only">명 시청 중</span></span>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div class="live__special__coupon">
                <dl>
                  <dt>
                    <span>미스터 피자 <span class="live__special__coupon--bottom">20,000원</span>상품권<span aria-hidden="true">/</span></span>
                  </dt>
                  <dd>
                    <span>25%<span class="sr-only">할인</span></span>
                    <span>15,000원<span class="sr-only">으로 판매중</span></span>
                  </dd>
                </dl>
              </div>
            </a>
          </li>

        </ul>
      </section>
      <section class="live__schedule">
        <h2 class="live__title">다가오는 라이브</h2>
        <ul class="live__schedule__container">
          <li class="live__schedule__item">
            <a href="/">
              <p class="live__schedule__product__info">
                <span><span class="sr-only">프로모션</span> 최대 50%할인</span>
                <span id="productTitle"><span class="sr-only">제품명</span> 산지직송 꿀 성주 참외!</span>
                <span><span class="sr-only">판매자</span> 믿고 먹는 지오이츠</span>
              </p>
              <p class="live__schedule__desc" aria-labelledby="productTitle">
                아삭한 꿀참외에요!<br>
                소꼬마 사이즈부터 대과까지 다양한 크기로 준비했으니
                취향따라 주문하세요. 블라블라블라블라
              </p>
              <figure>
                <!-- <img src="../images/components/liveShoppingCard/play240.png" alt=""> -->
                <figcaption>
                  <div>
                    <span class="sr-only">꿀 성주 참외 라이브 방송일</span>
                    <span>06월 04일</span>
                    <span>19 :00</span>
                  </div>
                </figcaption>
              </figure>
              <button type="button" aria-label="성주 참외 라이브">알림받기</button>
            </a>
          </li>
          <li class="live__schedule__item">
            <a href="/">
              <p class="live__schedule__product__info">
                <span><span class="sr-only">프로모션</span> 최대 50%할인</span>
                <span id="productTitle"><span class="sr-only">제품명</span> 산지직송 꿀 성주 참외!</span>
                <span><span class="sr-only">판매자</span> 믿고 먹는 지오이츠</span>
              </p>
              <p class="live__schedule__desc" aria-labelledby="productTitle">
                아삭한 꿀참외에요!<br>
                소꼬마 사이즈부터 대과까지 다양한 크기로 준비했으니
                취향따라 주문하세요. 블라블라블라블라
              </p>
              <figure>
                <!-- <img src="../images/components/liveShoppingCard/play240.png" alt=""> -->
                <figcaption>
                  <div>
                    <span class="sr-only">꿀 성주 참외 라이브 방송일</span>
                    <span>06월 04일</span>
                    <span>19 :00</span>
                  </div>
                </figcaption>
              </figure>
              <button type="button" aria-label="성주 참외 라이브">알림받기</button>
            </a>
          </li>
          <li class="live__schedule__item">
            <a href="/">
              <p class="live__schedule__product__info">
                <span><span class="sr-only">프로모션</span> 최대 50%할인</span>
                <span id="productTitle"><span class="sr-only">제품명</span> 산지직송 꿀 성주 참외!</span>
                <span><span class="sr-only">판매자</span> 믿고 먹는 지오이츠</span>
              </p>
              <p class="live__schedule__desc" aria-labelledby="productTitle">
                아삭한 꿀참외에요!<br>
                소꼬마 사이즈부터 대과까지 다양한 크기로 준비했으니
                취향따라 주문하세요. 블라블라블라블라
              </p>
              <figure>
                <!-- <img src="../images/components/liveShoppingCard/play240.png" alt=""> -->
                <figcaption>
                  <div>
                    <span class="sr-only">꿀 성주 참외 라이브 방송일</span>
                    <span>06월 04일</span>
                    <span>19 :00</span>
                  </div>
                </figcaption>
              </figure>
              <button type="button" aria-label="성주 참외 라이브">알림받기</button>
            </a>
          </li>
          <li class="live__schedule__item">
            <a href="/">
              <p class="live__schedule__product__info">
                <span><span class="sr-only">프로모션</span> 최대 50%할인</span>
                <span id="productTitle"><span class="sr-only">제품명</span> 산지직송 꿀 성주 참외!</span>
                <span><span class="sr-only">판매자</span> 믿고 먹는 지오이츠</span>
              </p>
              <p class="live__schedule__desc" aria-labelledby="productTitle">
                아삭한 꿀참외에요!<br>
                소꼬마 사이즈부터 대과까지 다양한 크기로 준비했으니
                취향따라 주문하세요. 블라블라블라블라
              </p>
              <figure>
                <!-- <img src="../images/components/liveShoppingCard/play240.png" alt=""> -->
                <figcaption>
                  <div>
                    <span class="sr-only">꿀 성주 참외 라이브 방송일</span>
                    <span>06월 04일</span>
                    <span>19 :00</span>
                  </div>
                </figcaption>
              </figure>
              <button type="button" aria-label="성주 참외 라이브">알림받기</button>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </main>
</body>
</html>