<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>주문 상세 페이지</title>
</head>
<body class="order__detail">
  <div class="tablet__container">
    <!-- 해더 -->
    <header class="header">
      <div class="header__container">
        <div class="header__sub1">
          <h1 class="logo">
            <a href="/">
              <img
                src="../images/components/header/logo72.png"
                alt="배달의 민족 로고"
              />
              <img
                src="../images/components/header/logo.svg"
                alt="배달의 민족"
              />
            </a>
          </h1>
          <p class="header__location">주소를 알려주세요!</p>
          <div class="login__container">
            <a href="/" class="header__login">로그인</a>
            <a href=""
              ><img
                src="../images/components/header/person32.png"
                alt="마이배민"
            /></a>
            <a href=""
              ><img
                src="../images/components/header/cart46.png"
                alt="장바구니"
            /></a>
          </div>
        </div>
        <div class="header__sub2">
          <form action="#">
            <fieldset class="search__fieldset">
              <legend>음식 검색창</legend>
              <label for="search"></label>
              <input
                type="search"
                id="search"
                placeholder="닭발?   순대?   곱창?"
              />
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal">
        <div class="modal__body">
          <section class="my__place">
            <h2>주소 설정</h2>
            <ul class="my__place__ul">
              <li>우리 집</li>
              <li>우리 회사</li>
              <li><a href="/">주소 추가</a></li>
            </ul>
          </section>
        </div>
      </div>
    </header>
    <main>
      <form action="/">
        <fieldset class="order__detail__main">
          <legend class="sr-onlly">상세 주문 내역 폼</legend>
          <div class="order__detail__box__shadow__wrapper">
            <section class="order__detail__desc">
              <div class="order__detail__desc__content">
                <h2>유명찜닭</h2>
                <p>찜닭에 우삼겹, 분모자떡, 감자만두를 곁들인 특이하고 색다른 맛</p>
              </div>
            </section>
            <section class="order__detail__menu">
              <h2>가격</h2>
              <ul class="order__detail__radio--group">
                <li>
                  <label for="s">
                    <span>소반마리+우삼겹130g+만두3+떡4</span>
                    <span>25,000원</span>
                  </label>
                  <input id="s" type="radio" name="price">
                </li>
                <li>
                  <label for="m">
                    <span>중반마리+우삼겹180g+만두3+떡4</span>
                    <span>25,000원</span>
                  </label>
                  <input id="m" type="radio" name="price">
                </li>
                <li>
                  <label for="l">
                    <span>대반마리+우삼겹210g+만두3+떡4</span>
                    <span>25,000원</span>
                  </label>
                  <input id="l" type="radio" name="price">
                </li>
              </ul>
            </section>
            <section class="order__detail__menu">
              <h2>메뉴선택</h2>
              <ul class="order__detail__radio--group">
                <li>
                  <label for="bone">
                    <span>뼈</span>
                    <span><span aria-hidden="true">+</span>0원</span>
                  </label>
                  <input id="bone" type="radio" name="type">
                </li>
                <li>
                  <label for="boneless">
                    <span>순살</span>
                    <span><span aria-hidden="true">+</span>0원</span>
                  </label>
                  <input id="boneless" type="radio" name="type">
                </li>
                <li>
                  <label for="rice">
                    <span>공기밥</span>
                    <span><span aria-hidden="true">+</span>0원</span>
                  </label>
                  <input id="rice" type="radio" name="type">
                </li>
              </ul>
            </section>
            <section class="order__detail__menu">
              <h2>추가선택 <span aria-hidden="true">(</span>최대 11개<span class="sr-only">선택 가능</span><span aria-hidden="true">)</span></h2>
              <ul class="order__detail__chk--group">
                <li><label for="ex1">분모자떡4개 <span><span class="sr-only">+</span>3,000원</span></label><input type="checkbox" name="extra" id="ex1"></li>
                <li><label for="ex2">소시지4개 <span><span class="sr-only">+</span>3,000원</span></label><input type="checkbox" name="extra" id="ex2"></li>
                <li><label for="ex3">야채4개 <span><span class="sr-only">+</span>3,000원</span></label><input type="checkbox" name="extra" id="ex3"></li>
                <li><label for="ex4">넓적당면4개 <span><span class="sr-only">+</span>3,000원</span></label><input type="checkbox" name="extra" id="ex4"></li>
              </ul>
            </section>
            <section class="order__detail__total">
              <h2>수량</h2>
              <div class="order__detail__total__btn--group">
                <button type="button" class="mius__btn" aria-label="수량 하나 줄이기"></button>
                <span><span class="order__detail__total__num">1</span>개</span>
                <button type="button" class="plus__btn" aria-label="수량 하나 더하기"></button>
              </div>
            </section>
          </div>
          <!-- 주문 내역서 컴포넌트 -->
          <!-- .bill에 .off추가시 텅 이미지 추가되도록 스타일 설정 -->
          <div class="bill off">
            <section class="bill__warning">
              <h2 class="sr-only">경고문</h2>
              <p class="bill__warning__desc">메뉴 사진은 연출한 이미지로 실제 조리한 형식과 다를 수 있습니다.</p>
            </section>
            <section class="bill__total">
              <h2 class="desktop">주문 내역서</h2>
              <p class="bill__total__limit">배달최소주문금액 12,000원</p>
              <div class="desktop">
                <!-- 텅 이미지 -->
                <div class="empty"></div>
    
                <!-- 주문 내역서 리스트 -->
                <ul class="bill__total__list desktop">
                  <li class="bill__total__item">
                    <span class="bill__total__item__product">유명 찜닭<span>25,000원</span></span>
                    <ul class="bill__total__detail__list">
                      <li class="bill__total__item"><span class="bill__total__item__product">추가 목록들<span>1,000원</span></span></li>
                      <li class="bill__total__item"><span class="bill__total__item__product">추가 목록들<span>1,000원</span></span></li>
                    </ul>
                  </li>
                  <li class="bill__total__item">
                    <span class="bill__total__item__product">유명 찜닭<span>25,000원</span></span>
                    <ul class="bill__total__detail__list">
                      <li class="bill__total__item"><span class="bill__total__item__product">추가 목록들<span>1,000원</span></span></li>
                      <li class="bill__total__item"><span class="bill__total__item__product">추가 목록들<span>1,000원</span></span></li>
                    </ul>
                  </li>
                </ul>
                <p class="bill__total__price">
                  <span>총결제금액</span><span class="total__price">25,000원</span>
                </p>
              </div>
              <!-- 클래스 off추가되면 button disabled=true설정 필요 -->
              <button type="submit" disabled>
                <span class="total__count--group">
                  <span class="sr-only">총</span>
                  <span class="total__count">1</span>
                  <span class="sr-only">개</span>
                </span>
                <span><span class="display__off"><span class="total__price">25,000</span>원</span> 주문하기</span>
              </button>
            </section>
          </div>
        </fieldset>
      </form>
    </main>
    <!-- footer -->
    <footer class="footer">
      <div class="footer__sub">
        <p class="">
          <a href="#">사업자정보확인 </a><span aria-hidden="true">|</span>
          <a href="#">이용약관 </a> <span aria-hidden="true">|</span>
          <a href="#">전자금융거래이용약관 </a>
          <span aria-hidden="true">|</span>
          <a href="#" class="footer__bold">개인정보처리방침 </a>
        </p>
        <p
          class="company__detail__toggle footer__bold"
          role="button"
          tabindex="0"
        >
          (주)우아한형제들
        </p>
        <section class="company__detail">
          <h2 class="sr-only">기업 상세 및 고객센터 정보</h2>
          <div class="company__detail__sub">
            <p class="">
              대표이사 김범준 <span aria-hidden="true">|</span> 사업자등록번호
              120-87-65763
            </p>
            <p>
              통신판매업 서울 송파-0515 | 호스팅서비스제공자 (주)우아한형제들
            </p>
            <p>CS@woowahan.com | 서울특별시 송파구 위례성대로 2 장은빌딩</p>
            <p>전자금융분쟁처리 Tel 1600-0987(유료), 080-849-0987(무료)</p>
            <p>Fax 050-6050-0400</p>
          </div>
          <div class="customer__service__container">
            <div class="customer__service__container__sub1">
              <p>고객센터(대표)</p>
              <p>1600-0987</p>
              <p>24시간 운영, 연중무휴</p>
            </div>
            <div class="customer__service__container__sub2">
              <p>고객센터(B마트/배민스토어)</p>
              <p>1600-0025</p>
              <p>오전 09:00~익일 새벽 01:00</p>
            </div>
          </div>
        </section>
        <div class="footer__footer">
          <p>
            (주)우아한형제들은 통신판매중개자이며, 통신판매의 당사자가
            아닙니다. 따라서&nbsp;
          </p>
          <p>
            (주)우아한형제들은 상품, 거래정보 및 거래에 대하여 책임을 지지
            않습니다.
          </p>
        </div>
      </div>
    </footer>

    <script src="../js/orderDetail.js"></script>
  </div>
</body>
</html>