<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배달의 민족 for Web</title>
    <meta
      name="description"
      content="배달의 민족 웹-태블릿 전용 페이지입니다."
    />
    <meta
      name="keywords"
      content="배달의민족, 배달, 포장, 음식, 주문, 웹주문, 배민, 라이브, 배민쇼핑라이브"
    />
    <meta name="author" content="개발의민족" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <h1 class="store__main__title sr-only">음식점 메인 페이지 입니다.</h1>
    <div class="store__header">
      <div class="store__header__title-card">
        <h2 class="store__header__title-card__name">잭슨피자 공덕점</h2>
        <span class="store__header__title-card__star-point" aria-hidden=""
          >별점</span
        >
        <div class="store__header__title-card__review">
          <span class="store__header__title-card__review__recent-review"
            >최근리뷰 84</span
          >
          <span class="store__header__title-card__review__recent-manager-reply"
            >최근사장님댓글 84</span
          >
        </div>
        <div class="store__header__title-card__contect">
          <a
            href="tel:050881949965"
            type="button"
            class="store__header__title-card__contect__tel"
            >전화</a
          >
          <button class="store__header__title-card__zzim">찜 84</button>
          <button class="store__header__title-card__share">공유</button>
        </div>
      </div>
      <div class="store__order-info">
        <h3 class="store__order-info__header sr-only">배달, 포장 주문 정보 입니다.</h3>
        <dl class="store__order-info__delivery">
          <h4 class="store__order-info__delivery__header" role="tab">배달주문</h4>
          <dt class="store__order-info__delivery__min-order-price">
            최소주문금액
          </dt>
          <dd class="store__order-info__delivery__min-order-price__value">
            15,000원
          </dd>
          <dt class="store__order-info__delivery__pay-method">결제방법</dt>
          <dd class="store__order-info__delivery__pay-method__value">
            바로결제, 만나서결제, 예약가능
          </dd>
          <dt class="sotre__order-info__delivery__delivery-tip">배달팁</dt>
          <dd class="sotre__order-info__delivery__delivery-tip__value">
            3,000원
          </dd>
          <dt class="sotre__order-info__delivery__delivery-time">배달시간</dt>
          <dd class="sotre__order-info__delivery__delivery-time__value">
            45~60분 소요예상
          </dd>
        </dl>
        <dl class="store__order-info__togo">
          <h4 class="store__order-info__togo__header" role="tab">포장/방문주문</h4>
          <dt class="store__order-info__togo__discount">
            최소주문금액<span class="badge-question">
          </dt>
          <dd class="store__order-info__togo__discount__value">4,000원 <span class="store__order-info__togo__discount__value__detail">12,000원 이상 포장 시 알인됩니다.</span></dd>
          <dt class="store__order-info__min-order-price">최소주문금액</dt>
          <dd class="store__order-info__min-order-price__value">15,000</dd>
          <dt class="store__order-info__use-method">이용방법</dt>
          <dd class="store__order-info__use-method__value">포장</dd>
          <dt class="store__order-info__pick-up-time">픽업시간</dt>
          <dd class="store__order-info__pick-up-time__value">6~26분 소요 예상<span class="badge-question"></span></dd>
          <dt class="store__order-info__pick-up-time">위치안내</dt>
          <dd class="store__order-info__pick-up-time__value">서울특별시 마포구 백범로31길 7 1동 113호</dd>
          <dt class="store__order-info__pay-method">결제방법</dt>
          <dd class="store__order-info__pay0method__value">바로결제</dd>
        </dl>
      </div>
    </div>
    <!-- store main -->
    <div class="store__main">
      <h3 class="store__main__header sr-only">음식점 메뉴, 정보, 리뷰 정보 입니다.</h3>
      <!-- store menu tab-->
      <nav class="store__main__nav">
        <ul class="store__main__nav__list" role="tablist">
          <li class="store__main__nav__item" role="tab">메뉴</li>
          <li class="store__main__nav__item" role="tab">정보</li>
          <li class="store__main__nav__item" role="tab">리뷰</li>
        </ul>
      </nav>
      <section class="store__main__menu" role="tabpanel">
        <h4 class="store__main__menu__title" role="tab">메뉴</h4>
        <!-- store menu nav -->
        <nav class="store__main__menu__nav">
          <ul class="store__main__menu__nav__list" role="tablist">
            <li class="store__main__menu__nav__item" role="tab">인기 메뉴</li>
            <li class="store__main__menu__nav__item" role="tab">오리지날 크러스트 피자</li>
            <li class="store__main__menu__nav__item" role="tab">음료</li>
          </ul>
        </nav>

        <p class="store__main__menu__desc">
          <a class="badge-place-of-origin">원산지 표기</a>
          러시아 전쟁으로 인하여 언어 수급이 어렵습니다.
        </p>

        
        <div class="store__main__menu__signature" role="tabpanel">
          <h5 class="store__main__menu__signature__title">
            대표메뉴
          </h5>
          <ul class="store__main__menu__signature__list">
            <li class="store__main__menu__signature__item">
              <h6 class="store__main__menu__signature__item__heading">
                <span class="badge-signature" aria-label="인기 상품"></span>
                슈퍼잭슨
              </h6>
              <p class="store__main__menu__signature__item__detail">
                페퍼로니, 양파, 할라피뇨, 모짜렐라치즈
              </p>
              <p class="store__main__menu__signature__item__price">
                14,900원
              </p>
            </li>
          </ul>
        </div>

        <!-- 인기메뉴 -->
        <!-- <div class="store__main__menu__popular">
          <h5 class="store__main__menu__popular__title">
            대표메뉴
          </h5>
          <ul class="store__main__menu__popular__list">
            <li class="store__main__menu__popular__item">
              <h6 class="store__main__menu__popular__item__heading">
                <span class="badge-popular" aria-label="인기 상품"></span>
                슈퍼잭슨(P)
              </h6>
              <p class="store__main__menu__popular__item__detail">
                토마토소스, 모짜렐라치즈, 페퍼로니, 소시지, 크러쉬드 소고기, 베이컨, 적양파, 구운파프리카
              </p>
              <p class="store__main__menu__popular__item__price">
                11,000원
              </p>
              <span class="badge-manager-recommend">사장님 추천</span>
            </li>
          </ul> -->
        </div>
        <!-- 메뉴 카테고리 -->
        <div class="store__main__menu__category">
          <h5 class="store__main__menu__category__title">
            오리지날 크러스트 피자(P)
          </h5>
          <p class="store__main__menu__category__desc">퍼스널사이즈 1인분(8인치)피자 입니다. 피클은 기본 구성에 포함되지 않습니다.</p>
          <ul class="store__main__menu__category__list">
            <li class="store__main__menu__category__item">
              <h6 class="store__main__menu__category__item__heading">
                <span class="badge-category" aria-label="오리지날 크러스트 피자(P)"></span>
                슈퍼잭슨(P)
              </h6>
              <p class="store__main__menu__category__item__detail">
                토마토소스, 모짜렐라치즈, 페퍼로니, 소시지, 크러쉬드 소고기, 베이컨, 적양파, 구운파프리카
              </p>
              <p class="store__main__menu__category__item__price">
                11,000원
              </p>
              <span class="badge-manager-recommend">사장님 추천</span>
            </li>
          </ul>
        </div>

        <div class="store__main__menu__category">
          <h5 class="store__main__menu__category__title">
            음료
          </h5>
          <ul class="store__main__menu__category__list">
            <li class="store__main__menu__category__item">
              <h6 class="store__main__menu__category__item__heading">
                코카콜라
              </h6>
              <p class="store__main__menu__category__item__detail">
                <ul class="store__main__menu__category__item__detail__list">
                  <li class="store__main__menu__category__item__detail__item">500ml: 1,500원</li>
                  <li class="store__main__menu__category__item__detail__item">1.25L : 2,000원</li>
                </ul>
              </p>
            </li>
            <li class="store__main__menu__category__item">
              <h6 class="store__main__menu__category__item__heading">
                스프라이트
              </h6>
              <p class="store__main__menu__category__item__detail">
                <ul class="store__main__menu__category__item__detail__list">
                  <li class="store__main__menu__category__item__detail__item">500ml: 1,500원</li>
                  <li class="store__main__menu__category__item__detail__item">1.25L : 2,000원</li>
                </ul>
              </p>
            </li>
            <li class="store__main__menu__category__item">
              <h6 class="store__main__menu__category__item__heading">
                제로콜라 1.25L
              </h6>
              <p class="store__main__menu__category__item__price">
                2,000원
              </p>
            </li>
          </ul>
        </div>

        <!-- 원산지 표기 -->
        <div class="store__main__menu__place-of-origin">
        </div>

      </section>
      <!-- store info tab -->
      <section class="store__main__info">
        <h4 class="store__main__menu__title" role="tab">정보</h4>
      </section>
      <!-- store review tab -->
      <section class="store__main__review">
        <h4 class="store__main__menu__title" role="tab">리뷰</h4>
      </section>
    </div>

  </body>
</html>
