<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈</title>
    <meta
      name="description"
      content="배달의 민족 웹-태블릿 전용 페이지입니다."
    />
    <meta
      name="keywords"
      content="배달의민족, 배달, 포장, 음식, 주문, 웹주문, 배민, 라이브, 배민쇼핑라이브"
    />
    <meta name="author" content="개발의민족" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" />
    <script type="module" src="/js/todayDiscountCarousel.js"></script>
  </head>
  <body>
    <!-- 오늘의 할인 -->
    <section class="main__today__discount today__discount__carousel">
      <h2 class="main__section__heading main__today__discount__title">
        오늘의 할인
      </h2>
      <a href="" class="main__sction__link">전체보기</a>
      <!-- <div class="main__today__discount__list today__discount__carousel__list">
        <article
          class="main__today__discount__item today__discount__carousel__item"
        >
          <a href="" class="main__today__discount__link">
            <img
              src="/images/main/logo-vips.png"
              alt=""
              class="main__today__discount__logo"
            />
            <img src="" alt="" class="today__discount__bg" />
            <p class="main__today__discount__desc-top">빕스 모든 메뉴</p>
            <p class="main__today__discount__desc-discount">1만 2천원 할인</p>
            <p class="main__today__discount__desc-bottom">홈파티의 정석!</p>
            <p class="main__today__discount__desc-bottom">
              집에서 즐기는 빕스 다이닝
            </p>
          </a>
        </article>
      </div> -->
    </section>
  </body>
</html>
