.cart {
  &__main {
    max-width: 1280px;
    position: relative;
    @include autoMargin;

    @include desktop {
      @include flexbox;
      gap: 10px;

      .left__70 {
        flex-shrink: 0;
        width: 70%;
      }
    }
  }

  &__heading {
    @include bgWhiteShadow;
    @include fontSetup(700, rem(20px), $font-black, 1.2);
    @include paddingX(15px);
    @include paddingY(25px);
    margin-bottom: 15px;

    @include desktop {
      @include paddingY(35px);
      font-size: 24px;
    }
  }

  &__order__detail {
    @include bgWhiteShadow;
    border-bottom: 1px solid $grayscaleGray6;

    &:last-child {
      border-bottom: none;
    }

    &__heading {
      @include fontSetup(700, rem(20px), $font-black, 1.2);
      padding: 24px 15px 24px 45px;
      border-bottom: 1px solid $grayscaleGray7;
      background: url(/assets/images/order-detail/icon-chk-unchecked.png)
        no-repeat;
      background-position: left 15px center;
      background-size: 22px;

      &.on {
        background-image: url(/assets/images/order-detail/icon-chk-checked.png);
      }

      label {
        display: block;
      }

      input {
        display: none;
      }
    }

    article {
      position: relative;
      padding-bottom: 80px;
    }

    &__top {
      @include flexbox(row, space-between, center);
      margin: rem(20px);

      span {
        @include fontSetup(700, 18px, $font-black, 30px);
      }

      button {
        @include buttonNone;
        width: rem(30px);
        height: rem(30px);
        background: url(/assets/images/cart/close.png) no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    &__main {
      @include flexbox(row, flex-start, flex-start);
      padding: 0 15px;

      img {
        width: 150px;
        height: 150px;
        border-radius: rem(10px);
        margin-right: rem(20px);
      }

      ul {
        @include fontSetup(300, 16px, $font-gray, 1.5);

        li {
          position: relative;
          padding-left: 8px;
          margin-bottom: 3px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            display: inline-block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: $font-gray;
            transform: translateY(-50%);
          }

          &:last-child {
            color: $font-black;

            &::before {
              content: none;
            }
          }
        }
      }
    }

    &__btn {
      @include fontSetup(400, 16px, $font-black, 1.2);
      @include flexbox(row, space-between, center);
      position: absolute;
      right: 15px;
      bottom: 20px;
      width: rem(150px);
      height: rem(50px);
      border: 1px solid $grayscaleGray6;
      border-radius: 3px;
      margin-top: 10px;

      button {
        @include buttonNone;
        width: 50px;
        height: 100%;
        background: url(/assets/images/cart/minus-512.webp) no-repeat;
        background-position: center;
        background-size: 18px;
        opacity: 0.5;
      }

      .increase {
        background-image: url(/assets/images/cart/plus-black72.png);
        background-size: 14px;
        opacity: 1;
      }
    }

    .want__more__food {
      @include flexbox(row, center, center);
      @include fontSetup(400, 16px, $font-black, 30px);
      @include paddingY(25px);
      border-top: 1px solid #eaeaea;
      text-align: center;
      gap: 5px;
      @include desktop {
        @include paddingY(35px);
        font-size: 18px;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(/assets/images/cart/plus-black72.png) no-repeat;
        background-position: center;
        background-size: 16px;
      }
    }
  }

  .bill__warning {
    @include tablet {
      span {
        display: block;
        line-height: 1.4;
      }
    }
  }

  .footer {
    @include tablet {
      display: none;
    }
  }
}
