$images: (
  "sushi": "sushi.png",
  "chinese": "jajangmyeon.png",
  "chicken": "chicken.png",
  "rice": "rice.png",
  "cafe": "cafe.png",
  "bunsik": "bunsik.png",
  "jjigae": "jjigae.png",
  "pizza": "pizza.png",
  "spagetti": "spagetti.png",
  "sam": "sam.png",
  "jok": "jok.png",
  "asian": "asian.png",
  "burger": "burger.png",
  "yasik": "yasik.png",
  "lunchbox": "lunchbox.png",
  "salad": "salad.png",
  "soup": "soup.png",
  "dairy": "dairy.png",
);

.deliveryMain-container {
  .dm {
    &__wrapper {
      @include bgWhiteShadow;
      background: $white;

      &:first-of-type {
        margin-bottom: 15px;
        margin-top: 53px;
      }
    }

    &__category {
      @include autoMargin;
      max-width: 1280px;

      @include tablet {
        padding: 15px 15px 30px;
      }
      @include desktop {
        padding: 30px 15px 50px;
      }

      &__list {
        @include flexbox($wrap: wrap);
        @include tablet {
          gap: 10px;
        }
        @include desktop {
          gap: 20px;
        }
      }

      &__item {
        text-align: center;

        @include tablet {
          width: calc((100% - 50px) / 6);
          @include sectionTitle(16px);
        }
        @include desktop {
          width: calc((100% - 100px) / 6);
          @include sectionTitle(20px);
        }

        a {
          position: relative;
          display: block;
          width: 100%;
          padding-top: calc(100% - 10px);
        }
      }

      &__link {
        @each $name, $glyph in $images {
          &__#{$name}::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(/assets/images/delivery-main/#{$glyph}) no-repeat;
            background-size: 65%;
            background-position: center top 30%;
          }
        }
      }
    }

    &__food {
      @include autoMargin;
      max-width: 1280px;
      padding-bottom: 60px;

      &__nav {
        @include paddingX(15px);
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }

        @include tablet {
          padding-right: 0;
        }

        &__list {
          @include tablet {
            @include flexbox;
          }

          @include desktop {
            @include flexbox($justify: space-between);
          }

          a,
          select {
            @include paddingX(12px);
            @include paddingY(24px);
            display: block;
            outline-offset: -12px -8px;
          }

          select {
            border: none;
          }
        }

        &__item {
          flex-shrink: 0;
          display: flex;
          align-items: center;
        }
      }

      &__list {
        @include flexbox(row, space-between, center, wrap);
        @include autoMargin;
        @include paddingX(15px);
        max-width: 1280px;
        margin-top: 10px;
        gap: 16px;
      }

      &__item {
        @include bgWhiteShadow;
        flex-basis: calc(50% - 8px);
        border-radius: 16px;
        overflow: hidden;

        @include mobile {
          flex-basis: 100%;
        }

        @include desktop {
          flex-basis: calc((100% - 32px) / 3);
        }

        .imgContainer {
          border-radius: 0;
        }

        .descContainer {
          padding: rem(24px);
        }
      }

      .couponWrapper {
        @include paddingX(16px);
        @include fontSetup(400, 16px, $font-orange, 28px);
        display: inline-block;
        margin-top: 0.5rem;
        border-radius: rem(14px);
        background: $bg-orange;
      }
    }
  }
}
