.dc {
  &__wrapper {
    // display: none;
    max-width: 1280px;
    margin: 0 auto rem(100px);
    padding: rem(125px) 15px 0;
  }

  &__list {
    @include flexbox($wrap: wrap);
    gap: 20px;

    &__item {
      flex-basis: calc(50% - 10px);

      @include mobile {
        flex-basis: 100%;
      }
      @include desktop {
        flex-basis: calc((100% - 40px) / 3);
      }
    }
  }
}
