// 배달 포장 카드
.main {
  &__banner {
    @include desktop {
      margin-top: 30px;
    }

    .banner__container__list {
      @include tablet {
        height: 220px;
      }
      @include desktop {
        height: 280px;
      }

      &__item {
        width: 100%;

        &__link {
          @include tablet {
            padding: 40px;
          }
          @include desktop {
            padding: 70px 55px;
          }

          &__bg {
            height: 90%;
            right: 55px;
            bottom: 0;
          }
        }
      }
    }
  }

  &__card {
    @include autoMargin;
    max-width: 1280px;
    margin-top: 15px;
    padding: 0 15px;

    @include desktop {
      margin-top: 30px;
    }

    &__list {
      @include flexbox(row, flex-start, stretch, wrap);
      width: 100%;
      gap: 15px;
    }

    &__item {
      width: calc(50% - 8px);
      border-radius: 16px;
      background: #f8f8f8 url(/assets/images/main/foods.png) no-repeat;
      background-size: contain;
      box-shadow: 2px 2px 10px 3px $box-shadow-color;

      &.package {
        background-image: url(/assets/images/main/dilivery.png);
      }

      @include tablet {
        background-position: right 10px bottom;
      }
      @include desktop {
        background-position: right 30px bottom;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;

        @include tablet {
          padding: rem(30px) rem(30px) rem(50px);
        }
        @include desktop {
          padding: rem(40px) rem(40px) rem(80px);
        }
      }

      &__title {
        @include fontSetup(900, 36px, $font-black, 1.2);
        margin-bottom: 10px;

        @include desktop {
          font-size: rem(44px);
        }
      }

      &__desc {
        @include fontSetup(400, 16px, $font-black, 1.2);

        @include desktop {
          font-size: rem(20px);
        }

        span {
          display: block;
        }
      }
    }

    &__item:nth-child(3),
    &__item:nth-child(4),
    &__item:nth-child(5) {
      width: calc((100% - 30px) / 3);
      background-image: none;
      text-align: center;

      a {
        background: url(/assets/images/components/liveShoppingCard/logo_live.png) no-repeat;

        @include tablet {
          padding: rem(40px) 0 rem(15px);
          background-position: center top 10px;
        }
        @include desktop {
          padding: rem(60px) 0 rem(25px);
          background-size: 36px;
          background-position: center top 20px;
        }
      }
      .main__card__item__title {
        margin-bottom: 0;
        font-size: 18px;

        @include tablet {
          font-size: 18px;
        }
        @include desktop {
          font-size: 24px;
        }
      }
    }
  }

  &__today__discount__container {
    @include bgWhiteShadow;
    padding: 35px 0;
    margin-bottom: 15px;

    @include tablet {
      margin-top: 15px;
    }
    @include desktop {
      margin-top: 30px;
    }

    .banner__container {
      position: relative;

      @include tablet {
        padding-right: 0;
      }

      &__title {
        margin-bottom: 15px;
        background: url(/assets/images/main/icon_discout.png) no-repeat;
        background-position: left 145px center;
        background-size: auto 32px;
      }

      &__list {
        @include flexbox(row);
        gap: 20px;

        @include tablet {
          height: 160px;
          transform: translate3D(calc(var(--currentItem) * -340px), 0, 0);
        }

        @include desktop {
          height: 200px;
          transform: translate3D(calc(var(--currentItem) * -420px), 0, 0);
        }

        &__item {
          flex-shrink: 0;
          @include tablet {
            flex-basis: 320px;
          }
          @include desktop {
            flex-basis: 400px;
          }

          &__link {
            @include tablet {
              padding: 40px 20px 20px;
            }
            @include desktop {
              padding: 50px 20px 20px;
            }

            &__logo {
              top: 20px;
              left: 20px;
              width: 30px;
            }

            &__bg {
              height: 80%;
              right: 0;
              bottom: 5px;
            }
          }
        }
      }
    }
  }

  &__all__link {
    @include fontSetup(400, 14px, $font-black, 38px);
    position: absolute;
    top: 0;
    right: 15px;
    padding-right: 16px;
    background: url(/assets/images/components/banner/black-arrow.png) no-repeat;
    background-size: 14px;
    background-position: right center;
  }

  &__recent__order {
    @include tablet {
      @include bgWhiteShadow;
      padding: 50px 0;
      margin-bottom: 15px;
    }

    &__inner {
      @include autoMargin;
      position: relative;
      padding: 0 15px;
      max-width: 1280px;

      @include tablet {
        padding-right: 0;
      }

      @include desktop {
        margin-top: 60px;
      }
    }

    &__title {
      @include sectionTitle;
      margin-bottom: 15px;
      background: url(/assets/images/main/icon_thumbsUp.png) no-repeat left 215px center;
      background-size: contain;
    }
  }

  &__restCards {
    @include flexbox(row, space-between);
    gap: 15px;

    @include tablet {
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .restCard {
      flex-shrink: 0;
      width: 300px;

      .imgContainer {
        height: 250px;

        @include tablet {
          border-radius: rem(16px);
          overflow: hidden;
        }
      }

      @include tablet {
        border-radius: 0;
        box-shadow: none;
        overflow: auto;

        .descContainer {
          padding: 16px 0;
        }

        dl .bmNo1wrapper {
          right: 0;
        }
      }

      .descContainer .restLink::after {
        top: -250px;
        height: calc(100% + 250px);
      }
    }
  }

  .live__special {
    @include tablet {
      @include bgWhiteShadow;
      padding: 50px 0;
    }

    &__inner {
      @include autoMargin;
      max-width: 1280px;
      position: relative;
      padding: 0 15px;

      @include tablet {
        padding-right: 0;
      }

      @include desktop {
        margin-top: 45px;
        margin-bottom: 60px;
      }
    }

    h2 {
      @include sectionTitle;
      margin-bottom: 15px;
      background: url(/assets/images/components/liveShoppingCard/logo_live.png) no-repeat left 180px center;
      background-size: contain;
    }
  }
}

// .main__banner__event,
// .main__card,
// .main__today__discount,
// .main__recent__order,
// .main__shopping__live {
//   @include autoMargin;
//   @include boxSize($h: auto);
//   position: relative;
// }

// .main__section__heading {
//   font-size: 1.5rem;
//   margin-bottom: 1rem;
// }

// .main__section__link {
//   position: absolute;
//   top: 0rem;
//   right: 1rem;

//   &::after {
//     content: "";
//     display: inline-block;
//     background: $white url("/images/components/banner/black-arrow60.png")
//       no-repeat 0 0;
//     background-size: cover;
//     // background-position: ;
//     width: 0.85rem;
//     height: 0.85rem;
//     margin-left: 0.25rem;
//   }
// }

// .today__discount__carousel {
//   &__list {
//     .main__today__discount__link {
//       img {
//         &:nth-of-type(2) {
//           max-width: 130px;
//           max-height: 158px;
//         }
//       }
//       .main__today__discount__desc-top {
//         margin-top: 20px;
//       }
//     }
//     [aria-label="1번째 배너"] {
//       .main__today__discount__desc-top {
//         margin-top: 0;
//       }
//     }
//     [aria-label="3번째 배너"] {
//       img {
//         &:nth-of-type(2) {
//           margin-top: 8px;
//         }
//       }
//     }
//   }
// }
