.pickup {
  &-container {
    margin-top: 63px;

    @include desktop {
      margin-top: 68px;
    }
  }

  &-tab {
    position: relative;
    z-index: 1;
    background: #f9f9f9;

    &__list {
      @include flexbox;
      align-self: flex-start;
      @include autoMargin;
      max-width: 1280px;
      padding: 0 10px;

      & li {
        @include fontSetup(400, 16px, $font-gray, 1.2);
        position: relative;
        padding: 15px 5px;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }

        &[aria-selected="true"] {
          color: $font-black;
          font-weight: bold;
        }

        &#tab3 {
          background: url(/assets/images/map/star.png) no-repeat;
          background-size: 18px;
          background-position: left center;
          padding-left: 20px;
        }

        &#tab4 {
          background: url(/assets/images/map/EAL.png) no-repeat;
          background-size: 18px;
          background-position: left center;
          padding-left: 20px;
        }

        ul {
          display: none;
          position: absolute;
          left: 0;
          top: 48px;
          z-index: 1;
          width: 150px;
          background: #f9f9f9;
          box-shadow: 0 2px 3px 5px rgba(#eee, 0.4);

          li {
            margin-bottom: 5px;
            button {
              @include fontSetup(400, 16px, $font-black, 1.2);
              @include buttonNone;
              width: 100%;
              padding: 10px 15px;
              text-align: left;
            }
          }
        }

        &#tab2 ul {
          @include fontSetup(400, 14px, $font-gray, 1.2);
          @include flexbox(row, space-between, center, wrap);
          display: none;
          width: 700px;

          @include mobile {
            width: 500px;

            li button {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  &-mapinfo {
    @include autoMargin;
    max-width: 1280px;
    background-color: $white;

    @include tablet {
      @include flexbox(column-reverse, flex-start, center);
    }
    @include desktop {
      @include flexbox;
      height: 900px;
    }

    &__search {
      width: 100%;
      height: 100%;
      @include tablet {
        @include bgWhiteShadow;
      }

      @include desktop {
        max-width: calc(100% / 3);
        border-right: 1px solid $grayscaleGray7;
      }

      &__container {
        position: relative;
        padding: 30px 15px 0;
        margin-bottom: rem(30px);

        @include desktop {
          padding: 20px 20px 0;
        }

        input {
          @include fontSetup(400, 16px, $font-black, 1.2);
          width: 100%;
          height: rem(45px);
          padding: 10px 10px 10px 45px;
          border: 1px solid $pickup-border-color;
          border-radius: 25px;
          outline: none;
        }

        button {
          @include buttonNone;
          position: absolute;
          top: 30px;
          left: 15px;
          width: rem(45px);
          height: rem(45px);
          background: url(/assets/images/map/AsG.png) no-repeat center;
          background-size: 28px;

          @include desktop {
            top: 20px;
            left: 20px;
          }
        }
      }

      .pickup-cardlist {
        &-container {
          padding: 0 15px 50px;

          @include desktop {
            height: calc(100% - 95px);
            padding-bottom: 20px;
            overflow-y: scroll;
          }
        }

        @include tablet {
          @include flexbox(row, space-between, center, wrap);
          gap: 16px;
        }

        .restCard {
          width: calc(50% - 8px);
          margin-bottom: rem(15px);

          @include mobile {
            width: 100%;
          }

          @include desktop {
            width: 100%;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        .loading-text {
          position: absolute;
          padding: rem(10px);
          margin-left: 0;
          height: rem(90px);
          margin-top: -5px;
          width: 80%;
          border-radius: 10px;
        }
        .loading-button {
          margin-left: 7px;
          margin-top: -20px;
          height: rem(35px);
          width: rem(122px);
          @include tablet {
            height: rem(40px);
            width: 50%;
          }
        }
      }
    }

    #map {
      width: 100%;
      height: 600px;

      @include desktop {
        height: 900px;
      }

      .loading-map {
        background-color: #e0e0e0;
        width: 100%;
        height: 100%;
        animation: blinker 1s linear infinite;
        z-index: 99;
      }
    }
  }
}
// map
[class^="column-"] {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 2em 0 2em;
}
[class^="column-"]:first-child {
  border-right: 2px solid #ccc;
}

.pickup-menulist {
  $images: (
    "sushi": "sushi.png",
    "chinese": "jajangmyeon.png",
    "chicken": "chicken.png",
    "rice": "rice.png",
    "cafe": "cafe.png",
    "bunsik": "bunsik.png",
    "jjigae": "jjigae.png",
    "pizza": "pizza.png",
    "spagetti": "spagetti.png",
    "sam": "sam.png",
    "jok": "jok.png",
    "asian": "asian.png",
    "burger": "burger.png",
    "yasik": "yasik.png",
    "lunchbox": "lunchbox.png",
    "salad": "salad.png",
    "soup": "soup.png",
    "dairy": "dairy.png",
  );

  // .dm {
  //   &__category {
  //     &__link {
  //       @each $name, $glyph in $images {
  //         &__#{$name}::before {
  //           content: "";
  //           width: rem(60px);
  //           height: rem(40px);
  //           display: block;
  //           background: url("/assets/images/delivery-main/#{$glyph}") no-repeat;
  //           background-size: contain;
  //           position: relative;
  //           transform: translateX(15%);
  //         }
  //       }
  //     }
  //   }
  // }
}

// @include tablet {
// .pickup-cardlist {
//   .restCard,
//   .loading-img {
//     .imgContainer {
//       height: 240px;
//     }
//   }
//   .loading {
//     .loading-text {
//       height: 50px;
//       width: rem(290px);
//     }
//     .loading-button {
//       width: rem(140px);
//     }
//   }
// }
// }
