.store {
  @include desktop {
    @include flexbox($direction: column);
    @include autoMargin;
    gap: 10px;
    max-width: 1280px;
    padding-bottom: 100px;
  }

  &__header {
    padding-top: 24rem;
    background: url(/assets/images/order-detail/dunkin.jpg) no-repeat;
    background-size: cover;
    background-position: center top 40%;

    &__title-card {
      @include bgWhiteShadow;
      @include autoMargin;
      width: calc(100% - 2rem);
      transform: translateY(8rem);
      padding: 1.25rem 1.25rem 0;
      border-radius: 5px;
      text-align: center;

      &__name {
        @include fontSetup(700, 32px, $font-black, 1.2);
        margin-bottom: 1rem;
      }

      &__star-point {
        @include flexbox(row, center, center);
        margin-bottom: rem(8px);

        &__num {
          @include fontSetup(400, 16px, $font-black, 1.2);
          margin-left: 10px;
        }
      }

      &__review {
        @include fontSetup(400, 14px, $font-gray, 1.2);
        margin-bottom: rem(10px);

        span[aria-hidden="true"] {
          display: inline-block;
          margin: 0 10px;
        }
      }

      &__contect {
        @include flexbox(row, space-between, center);

        &__zzim,
        &__share {
          @include buttonNone;
        }

        &__tel,
        &__zzim,
        &__share {
          @include flexbox(row, center, center);
          width: calc(100% / 3);
          padding: 20px;
          gap: 10px;

          &::before {
            content: "";
            width: 24px;
            height: 24px;
            background: url(/assets/images/reataurant-detail/phone.png)
              no-repeat;
            background-position: left center;
            background-size: contain;
          }
        }

        &__zzim::before {
          background-image: url(/assets/images/reataurant-detail/heart.png);
        }

        &__share::before {
          background-image: url(/assets/images/reataurant-detail/share.png);
          background-size: 20px;
        }
      }
    }

    &__coupon {
      position: relative;
      z-index: 1;
      background: $white;

      &__btn {
        margin: 150px auto 0;
        @include fontSetup(bold, 16px, $font-orange, 1.2);
        @include flexbox(row, center, center);
        @include buttonNone;
        // width: 100%;
        width: calc(100% - 2rem);
        height: 60px;
        border-radius: 10px;
        border: 1px solid $grayscaleGray7;
        gap: 10px;
        text-align: center;
        background: $bg-gray;

        &::before {
          content: "";
          display: inline-block;
          width: 45px;
          height: 60px;
          background: url(/assets/images/dunkin/kVc.png) no-repeat;
          background-position: center bottom;
          background-size: contain;
        }
      }
    }
  }

  &__order-info {
    @include flexbox;
    position: relative;
    padding: rem(95px) 0 rem(30px);

    @include tablet {
      @include bgWhiteShadow;
    }

    &__tabs {
      &__header {
        @include fontSetup(400, 18px, $grayscaleGray6, 1.2);
        position: absolute;
        left: 0;
        top: 30px;
        display: inline-block;
        width: 50%;
        padding: 20px 0;
        text-align: center;
        border-bottom: 2px solid $grayscaleGray7;

        &.on {
          font-weight: bold;
          color: $font-black;
          border-bottom: 2px solid $font-black;
        }

        &.on + .store__order-info__tabs__list {
          display: flex;
        }

        &.package {
          left: 50%;
        }
      }

      &__list {
        @include flexbox(row, flex-start, stretch, wrap);
        @include fontSetup(400, 16px, $font-black, 1.2);
        display: none;
        padding: 1.5rem;
        gap: 10px;

        dt {
          width: 130px;
        }

        dd {
          width: calc(100% - 140px);
        }
      }
    }
  }

  &__main {
    margin-top: 2rem;
    background: $white;

    &__nav {
      &__list {
        @include flexbox;
      }

      &__item {
        @include fontSetup(400, 16px, $grayscaleGray6, 1.2);
        width: calc(100% / 3);
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid $grayscaleGray7;

        &.is-active {
          border-top: 3px solid $black;
          border-left: 1px solid $grayscaleGray6;
          border-right: 1px solid $grayscaleGray6;
          border-bottom: none;
          color: $black;
          font-weight: bold;
        }

        &:first-child.is-active {
          border-left: none;
        }

        &:last-child.is-active {
          border-right: none;
        }
      }
    }

    &__menu {
      &__tab {
        &__list {
          @include flexbox($wrap: wrap);
          padding: 2rem 0.75rem 0.75rem;
        }

        &__item {
          @include fontSetup(400, 14px, $font-gray, 1.2);
          margin-left: rem(8px);
          padding: 0.5rem 1rem;
          border: 1px solid $grayscaleGray7;
          border-radius: 20px;

          &.is-active {
            color: $white;
            background-color: $grayscaleGray1;
          }
        }
      }

      &__desc {
        @include fontSetup(400, 14px, $font-black, 1.2);
        padding: 2rem 1.5rem;

        .badge-cesco {
          @include fontSetup(400, 12px, $white, 1.2);
          background-color: #038ad1;
          border-radius: 5px 0 5px 0;
          padding: rem(2px) rem(4px);
        }
      }

      &__category {
        padding: 1.5rem;
        border-bottom: 1px solid $grayscaleGray6;
        margin-bottom: rem(20px);

        &:last-of-type {
          margin-bottom: 0;
          border-bottom: none;
        }

        &__title {
          @include fontSetup(700, 32px, $font-black, 1.2);
          margin-bottom: rem(25px);
        }

        &__item {
          position: relative;
          padding: 20px 0;
          border-bottom: 1px solid $grayscaleGray7;

          &::after {
            content: "";
            display: block;
            clear: both;
          }

          &:last-child {
            border-bottom: none;
          }

          &__img {
            float: right;
            border-radius: 1.5rem;
            overflow: hidden;
            border: 1px solid $grayscaleGray7;

            @include tablet {
              width: 9rem;
              height: 9rem;
            }

            @include desktop {
              width: 12rem;
              height: 12rem;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &__heading {
            @include fontSetup(500, 24px, $font-black, 30px);
            @include flexbox;
            gap: 10px;
            margin-bottom: 1rem;

            include tablet {
              padding-right: calc(9rem + 20px);
            }

            @include desktop {
              padding-right: calc(12rem + 20px);
            }

            .badge-signature {
              content: "";
              width: 30px;
              height: 30px;
              background: url(/assets/images/reataurant-detail/icon-popular.png)
                no-repeat;
              background-size: contain;
            }
          }

          &__desc__wrapper {
            @include fontSetup(400, 16px, $font-black, 1.4);
            padding-right: calc(9rem + 20px);

            @include desktop {
              font-size: 18px;
              padding-right: calc(12rem + 20px);
            }

            span {
              display: block;
            }
          }

          &__desc {
            margin-bottom: 3px;
            color: $grayscaleGray5;
          }

          &__detail {
            @include fontSetup(400, 14px, $font-gray, 1.4);
            margin-bottom: 3px;

            &.warning {
              color: $carousel-pink;
            }
          }

          &__price {
            margin-bottom: 15px;
            font-size: 1.25rem;

            @include desktop {
              margin-bottom: 25px;
            }
          }

          .badge-manager-recommend {
            @include fontSetup(700, 14px, $font-orange, 1.2);
            display: inline-block;
            margin: rem(16px) 0 rem(8px);
            padding: rem(4px) rem(8px);
            background: $bg-orange;
            border-radius: rem(6px);
          }

          ul {
            padding: 1rem;
            margin-left: 1.5rem;
          }

          li {
            list-style-type: disc;
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  }
}

.star {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(/assets/images/reataurant-detail/starfull.png) no-repeat
    center;
  background-size: contain;

  &-half {
    background-image: url(/assets/images/reataurant-detail/starhalf.png);
  }
}

.store__main__info {
  display: none;
}

.store__main__review {
  display: none;
}

.order__detail__main {
  &.store {
    .bill {
      &.off {
        margin-top: 10rem;
      }
    }
  }
}
