.nav {
  height: rem(100px);
  width: 100%;
  background-color: $white;
  padding-top: rem(15px);
  position: fixed;
  top: 150px;
  left: 0;
  z-index: 3;
}

.nav__sec {
  text-align: center;
  box-shadow: 0 0.1px;
}

.nav__heading {
  @include fontSetup(400, 24px, $font-black, 30px);
}

.nav__ul {
  @include flexbox(row, center);
  margin-top: rem(20px);
  overflow-x: scroll;
  background-color: $white;
}

.nav__li {
  margin-right: rem(20px);
  a {
    @include fontSetup(400, 18px $font-black, 22px);
    color: #858585;
    white-space: nowrap;
  }
}

.nav__li .selected {
  border-bottom: 3px solid $black;
  height: rem(35px);
  color: $font-black;
  display: inline-block;
}