.cart__heading {
  @include fontSetup(700, rem(30px), $font-black, rem(80px));
  @include cartContainer(rem(80px), center, rem(10px));
}

.cart__order__detail {
  @include cartContainer(rem(500px), left, rem(15px));
}

.cart__order__detail h2 {
  height: rem(80px);
  @include fontSetup(400, rem(20px), $font-black, rem(80px));
  &::before {
    content: '';
    display: inline-block;
    width: rem(30px);
    height: rem(30px);
    border-radius: rem(10px);
    background-image: url(../../images/cart/jimdark.png);
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(30%);
    margin: 0 rem(20px);
  }
  box-shadow: 0 0.1px;
}

.cart__main {
  max-width: rem(1024px);
  @include autoMargin;

  @include desktop {
    @include flexbox;
    gap: 10px;
  }

  @include tablet {
    padding-bottom: rem(150px);
  }
}

.left__70 {
  @include desktop {
    flex-shrink: 0;
    width: 70%;
  }
}

.cart__order__detail__top {
  margin: rem(20px);
  @include flexbox(row, space-between, center);
}

.cart__btn__x {
  width: rem(20px);
  height: rem(20px);
  background-color: $white;
}

.cart__order__detail__main{
  @include flexbox(row, flex-start, flex-start);
  margin: rem(20px);
  ul {
    list-style: disc;
    @include fontSetup(300, 16px, $font-gray, 2);
  }
  img {
    border-radius: rem(10px);
    margin-right: rem(40px);
  }
  li:last-child {
    list-style: none;
    text-indent: rem(-15px);
    color: $font-black;
  }
}

.cart__detail__btn {
  box-shadow: 0 0 1px;
  border-radius: 5px;
  width: rem(150px);
  height: rem(50px);
  margin-left: auto;
  margin-right: rem(20px);
  margin: rem(20px) rem(20px) rem(20px) auto;
  @include fontSetup(700, 20px, $font-black);
  @include flexbox(row, space-between, center);
  &::before {
    content: '';
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    background-image: url(../../images/cart/minus-512.webp);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
  }
  &::after {
    content: '';
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    background-image: url(../../images/cart/plus-black72.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }
}

.want__more__food {
  @include fontSetup(400, 18px, $font-black);
  display: inline-block;
  transform: translateY(50px);
  width: 100%;
  text-align: center;
  box-shadow: 0 -0.1px;
  padding-top: rem(20px);
  & img {
    width: rem(20px);
    height: rem(20px);
    margin-right: rem(20px);
  }
}