.pickUp-tab {
	// tabUI
	&__list:after {
		display: block;
		clear: both;
		content: "";
	}
	&__list li {
		float: left;
		list-style: none;
		display: block;
		background: #fff;
		color: $font-gray;
		padding: 10px;
		margin-right: 5px;
		text-decoration: none;
		position: relative;
		top: 2px;

		&:hover {
			cursor: pointer;
		}
	}
	#tab3 {
		background-image: url(./../../images/map/star.png);
		background-repeat: no-repeat;
		background-size: 30%;
		background-position: 5% 37%;
		padding-left: 20px;
	}
	#tab4 {
		position: relative;
		padding-left: 20px;
	}
	#tab4::before {
		position: absolute;
		top: 50%;
		transform: translateY(-60%);
		left: 0px;
		right: 0px;
		bottom: 0px;
		opacity: 60%;

		content: " ";
		display: inline-block;
		height: 20px;
		width: 30px;
		background-image: url(./../../images/map/EAL.png);
		background-size: contain;
		background-repeat: no-repeat;
	}
	&__list-before {
		padding-left: 0;
		margin: 0;
	}
	&__list-before:after {
		display: block;
		clear: both;
		content: "";
	}
	&__list-before li {
		float: left;
		list-style: none;
	}
	&__list-before li {
		display: block;
		background: #999;
		color: gray;
		padding: 10px;
		margin-right: 5px;
		text-decoration: none;
		position: relative;
		top: 2px;
	}
}

[aria-selected="true"] {
	color: #aaa;
	font-weight: bold;
}
.pickUp-tab__contents {
	display: flex;
	margin-top: 0;
	width: fit-content;
	margin-top: 2px;
	position: absolute;

	section {
		z-index: 9;
		background-color: $bg-gray;
		border-radius: 0 0 10px 10px;
		width: fit-content;
		height: fit-content;
		&:nth-of-type(2) {
			transform: translateX(rem(-40px));
		}
		&:nth-of-type(3) {
			transform: translateX(rem(-430px));
			p {
				margin: 12px 24px;
				background-image: url(./../../images/map/kRf.png);
				background-size: contain;
				background-repeat: no-repeat;
				color: $map-font;
				padding-left: rem(17px);
			}
		}
		&:nth-of-type(4) {
			transform: translateX(rem(-500px));
		}
		button {
			height: fit-content;
			width: fit-content;
			display: block;
			@include buttonNone;
			margin: 12px 24px;
			white-space: nowrap;
		}
	}
	.selectedItem {
		background: #fff !important;
		color: #aaa !important;
		font-weight: bold;
	}
	.unvisual {
		visibility: hidden;
	}
}
// map
.pickup-mapinfo {
	display: flex;
	height: 90vh;
	float: left;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	max-width: 1024px;
	#map {
		width: 100%;
		height: 100%;

		.loading-map {
			background-color: #e0e0e0;
			width: 100%;
			height: 100%;
			animation: blinker 1s linear infinite;
			z-index: 99;
			float: inherit;
		}
	}
	&__search {
		box-sizing: border-box;
		padding-top: rem(61px);
		height: 100%;
		padding: 24px;
		width: rem(320px);
		border: 1px solid transparent;
		border-image: linear-gradient(to left, $box-shadow-color 99%, transparent 100%);
		border-image-slice: 1;
		overflow: auto;
		.pickup-cardlist {
			.imgContainer {
				height: 120px;
			}
			li {
				margin-top: rem(24px);
				&:nth-of-type(1) {
					margin-top: 1px;
				}
			}
			.descWrapper__rating {
				display: flex;
				align-items: center;
			}
			.rating-dt {
				img {
					margin-right: rem(6px);
					margin-left: rem(-2px);
					width: 20px;
					margin-top: rem(-5px);
				}
			}
			.rating {
				height: 2rem;
				margin-left: rem(-5px);
				margin-top: rem(-4px);
			}
			.loading-text {
				position: absolute;
				padding: rem(10px);
				margin-left: 0;
				height: rem(110px);
				margin-top: 0px;
				width: 80%;
				border-radius: 5%;
				&:nth-of-type(2) {
					height: rem(80px);
					margin-right: rem(35px);
				}
			}
			.loading-button {
				margin-left: rem(9px);
				margin-top: -27px;
				height: rem(40px);
				width: 90%;
				@include tablet {
					width: 50%;
				}
			}
			.descWrapper {
				line-height: 1.4rem;
			}
		}
		&__container {
			position: relative;
			margin-bottom: rem(38px);
			overflow: hidden;

			#search {
				text-indent: 3rem;
				height: rem(45px);
				border-radius: 20px;
				width: 100%;
				padding: 0;
				border: 1px solid $pickup-border-color;
				outline: none;

				&:focus {
					border-width: 3px;
				}
			}
			button {
				display: none;
			}
			label {
				position: absolute;
				top: 50%;
				left: rem(14px);
				transform: translateY(-50%);
				width: rem(30px);
				height: rem(30px);
				display: block;
				background-image: url(./../../images/map/AsG.png);
				background-size: contain;
			}
		}
	}
}
.pickuppage-layout {
	position: relative;
}

[class^="column-"] {
	-webkit-flex: 1;
	flex: 1;
	padding: 0 2em 0 2em;
}
[class^="column-"]:first-child {
	border-right: 2px solid #ccc;
}

.pickup-container {
	margin: 0 auto;
	max-width: 1024px;
	// height: 100%;
}

.pickup-menulist {
	$images: (
		"sushi": "sushi200.png",
		"chinese": "jajangmyeon200.png",
		"chicken": "chicken200.png",
		"rice": "rice168.png",
		"cafe": "cafe150.png",
		"bunsik": "bunsik200.png",
		"jjigae": "jjigae150.png",
		"pizza": "pizza150.png",
		"spagetti": "spagetti126.png",
		"sam": "sam168.png",
		"jok": "jok150.png",
		"asian": "asian168.png",
		"burger": "burger200.png",
		"yasik": "yasik150.png",
		"lunchbox": "lunchbox200.png",
		"salad": "salad200.png",
		"soup": "soup200.png",
		"dairy": "dairy200.png",
	);

	.dm {
		&__container {
			box-sizing: border-box;
			@include paddingY(10px);
			@include paddingX(24px);
		}

		&__category {
			width: 100%;

			&__list {
				white-space: wrap;
				@include autoMargin;
				min-width: 0;
				width: rem(420px);
				max-width: 100%;
				overflow: hidden;
				border-radius: rem(10px);
				height: fit-content;
				padding-top: rem(10px);
			}

			&__item {
				white-space: wrap;
				padding-top: 0px;
				float: left;
				position: relative;
				text-align: center;
				font-size: rem(10px);
				text-align: center;
				font-weight: 700;
				width: rem(60px);
				height: rem(60px);
				&:nth-of-type(1) {
					white-space: nowrap;
				}
				button {
					margin: 0px;
				}
			}

			&__link {
				@each $name, $glyph in $images {
					&__#{$name}::before {
						content: "";
						width: rem(60px);
						height: rem(40px);
						display: block;
						background: url("../images/dilivery-main/#{$glyph}") no-repeat;
						background-size: contain;
						position: relative;
						transform: translateX(15%);
					}
				}
			}
		}
	}
}
.tablet__container {
	&.pickup {
		footer {
			float: left;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}
}
@include tablet {
	.pickup-mapinfo {
		display: flex;
		flex-flow: column nowrap;
		#map {
			height: 600px;
			order: 1;
		}
		&__search {
			order: 2;
			width: 100%;
			.pickup-cardlist {
				text-align: center;
			}
			.restCard {
				display: inline-block;
				width: 40%;
				&:nth-of-type(odd) {
					margin-right: rem(40px);
				}
				text-align: start;
			}
		}
	}
	.pickUp-tab__contents {
		width: 100%;
	}
	.pickup-cardlist {
		.restCard,
		.loading-img {
			.imgContainer {
				height: 240px;
			}
		}
		.loading {
			.loading-text {
				&:nth-child(1) {
					display: none;
				}
				&:nth-of-type(2) {
					height: 70px;
					width: 220px;
				}
			}
		}
	}
}
