.pickup-cardlist {
  width: 100%;
  overflow-y: hidden;
  .restCard {
    margin-bottom: 20px;
    width: inherit;
    position: relative;
    background: $white;
    border-radius: rem(28px);
    box-shadow: rem(8px) rem(8px) rem(8px) $bg-gray;

    .imgContainer {
      width: 100%;
      border-radius: rem(28px);

      img {
        border-radius: rem(28px);
        width: 100%;
        height: auto;
      }
    }

    .descContainer {
      width: 100%;
      @include paddingX(12px);
      @include paddingY(14px);
      font-size: rem(15px);

      .restName {
        float: left;
        padding-right: rem(4px);
        font-size: rem(20px);
        font-weight: 700;
      }

      .descWrapper {
        display: inline-block;
        line-height: 1.5;
        margin-right: 1rem;
      }

      dt {
        color: $font-gray;
      }

      dt,
      dd {
        display: inline-block;
      }

      .rating {
        font-weight: 700;
      }

      .middot {
        color: $font-gray;
      }

      .bmNo1wrapper {
        display: inline-block;
        position: relative;
        margin-top: 0.5rem;
        border: 1px solid $banner-blue;
        border-radius: rem(24px);
        background: $bg-blue;
        @include paddingY(6px);
        @include paddingX(10px);

        dt {
          padding-right: 0.8rem;
          font-weight: 700;
          color: $font-blue;
        }
      }
    }
  }
}
// skeleton test code
body {
  margin: 0px;
}
.d-flex {
  display: flex;
}
@media (max-width: 767.98px) {
  .d-flex {
    display: block;
  }
}
.item {
  padding: 2rem;
}
.item-img {
  position: relative;
  width: 320px;
  height: 180px;
}
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
/* 이미지의 스켈레톤(뼈대) */
.loading-img {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
}
/**
 * 깜박이는 블링크 애니메이션
 */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blink_me {
  animation: blinker 1s linear infinite;
  z-index: 99;
  float: inherit;
}
/* 실제 이미지 */

.item-text {
  position: relative;
  width: 320px;
}
/* 텍스트의 스켈레톤 */
.loading-text {
  margin-bottom: 0.7rem;
  height: 20px;
  background-color: #e0e0e0;
  z-index: 999;
}
/**
       * 실제 텍스트
       */
h3 {
  margin-bottom: 0.5rem;
}
.create-date {
  font-size: smaller;
  margin-bottom: 0.5rem;
}
.intro {
  font-style: italic;
  word-break: break-all;
}
/* 스켈레톤 스크린 숨기기 */
.loading-hidden {
  display: none;
}
.bmNo1wrapper {
  z-index: 0;
}
