// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fff;
$black: #000;

// Main Color
$bg-gray: #f6f6f6;
$font-white: #fffffd;
$font-gray: #858585;
$font-black: #222222;
$font-orange: #dc8a32;
$banner-blue: #2ac1bc;