// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fff;
$black: #000;
$shadow: #d5d5d5;

// Main Color
$bg-gray: #f6f6f6;
$bg-blue: #f0faf9;
$font-white: #fffffd;
$font-gray: #858585;
$font-black: #222222;
$font-blue: #2ac1bc;
$font-orange: #dc8a32;
$font-blue: #2ac1bc;
$banner-blue: #2ac1bc;
$pickup-border-color: #149793;
$box-shadow-color: rgba($shadow, 0.5);
$map-font: #c2a681;
$font-pink: #FF4A4A;
