// 헤더 시작 ------------------------------------------------------------------------ /
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: $banner-blue;
  border-radius: 0 0 20px 20px;

  &__container {
    @include autoMargin;
    max-width: 1280px;

    @include tablet {
      padding: 20px 15px;
    }

    @include desktop {
      padding: 30px 15px;
    }
  }

  &__top {
    @include flexbox(row, space-between, center);

    @include tablet {
      margin-bottom: 15px;
    }

    @include desktop {
      margin-bottom: 20px;
    }

    &__logo {
      @include tablet {
        display: none;
      }

      @include desktop {
        height: rem(24px);

        & img {
          height: 100%;
          margin-right: rem(5px);

          &:last-child {
            height: rem(20px);
          }
        }
      }
    }

    &__location {
      @include buttonNone;
      @include fontSetup(700, 16px, $font-white, 30px);
      background: url(/assets/images/components/header/arrow.svg) no-repeat;
      background-position: right center;
      background-size: 12px;

      @include tablet {
        padding-right: 20px;
      }
      @include desktop {
        font-size: rem(18px);
        padding-right: 30px;
      }
    }

    &__link {
      @include flexbox(row, center, center);

      &__login {
        @include fontSetup(700, 16px, $font-white, 30px);
        margin-right: rem(10px);

        @include desktop {
          font-size: rem(18px);
        }
      }

      &__myNCart {
        text-indent: -9999px;
        width: rem(30px);
        height: rem(30px);
        background: url(/assets/images/components/header/person.png) no-repeat;
        background-position: center;
        background-size: 24px;

        &:nth-child(2) {
          display: none;
        }

        &:last-of-type {
          position: relative;
          background-image: url(/assets/images/components/header/cart.png);
          background-size: 30px;

          & .local__count__group {
            @include fontSetup(700, 10px, $font-white, 18px);
            display: none;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 50%;
            background-color: $carousel-pink;
            width: rem(18px);
            height: rem(18px);
            text-align: center;
            text-indent: 0;
          }
        }
      }

      img {
        width: 100%;
      }
    }
  }

  &__bottom {
    &__search__fieldset {
      height: 50px;
      transition: width ease 0.3s;

      @include tablet {
        width: 100%;
      }

      @include desktop {
        @include autoMargin;
        width: rem(500px);
      }

      input {
        @include fontSetup(400, 16px, $font-black, 22px);
        width: 100%;
        height: 100%;
        padding-left: 60px;
        border: 0;
        border-radius: 3px;
        background: #fff url(/assets/images/components/header/serach-green.png)
          no-repeat;
        background-position: left 10px center;
        background-size: 38px;
        box-shadow: 0 1px 3px 2px rgba($black, 0.1);

        @include desktop {
          font-size: rem(18px);
        }
      }
    }
  }
}
// 헤더 종료 --------------------------------------------------------------------- /
