.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(400px);
    padding: 30px 20px 15px;
    border-radius: 15px;
    background-color: $white;
    transform: translate3d(-50%, -50%, 0);

    & .title {
      @include fontSetup(700, 24px, $font-black, 30px);
      margin-bottom: 15px;
    }

    & .my__place__list {
      width: 100%;

      & li {
        padding: 20px 30px;
        border-bottom: 1px solid $grayscaleGray7;
        background: url(/assets/images/components/modal/location.png) no-repeat;
        background-position: left center;
        background-size: 20px;
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }

        span {
          display: block;
        }

        .title {
          @include fontSetup(700, 16px, $font-black, 1.4);
          margin-bottom: 3px;

          @include desktop {
            font-size: 18px;
          }
        }

        .address {
          @include fontSetup(400, 14px, $grayscaleGray5, 1.2);
          @include desktop {
            font-size: 16px;
          }
        }
      }
    }

    &__add__address__btn {
      @include fontSetup(700, 18px, $font-black, 1.2);
      @include buttonNone;
      @include paddingY(20px);
      width: 100%;
      padding-left: 30px;
      text-align: left;
      border-bottom: 1px solid $grayscaleGray7;
      background: url(/assets/images/cart/plus-black72.png) no-repeat left 3px
        center;
      background-size: 14px;
    }

    &__close__btn {
      @include buttonNone;
      position: absolute;
      right: 20px;
      top: 30px;
      width: 30px;
      height: 30px;
      background: url(/assets/images/components/modal/close.svg) no-repeat;
      background-position: center;
      background-size: 14px;
    }
  }
}
