.nav__main {
  width: 100%;
  background-color: $white;
  padding: rem(24px) 0 0;
  position: fixed;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid $grayscaleGray7;

  @include tablet {
    top: 111px;
  }
  @include desktop {
    top: 140px;
  }

  &__inner {
    @include paddingX(15px);
    @include autoMargin;
    max-width: rem(1280px);
  }

  &__list {
    @include flexbox(row, flex-start);
    height: 100%;
  }

  &__item {
    &.selected {
      a {
        color: $font-blue;
      }
    }

    a {
      @include fontSetup(400, 18px, $font-black, 22px);
      font-family: "Do Hyeon", sans-serif;
      display: block;
      padding: 20px 10px 20px 0;
      color: $font-gray;

      @include desktop {
        padding-right: 25px;
        font-size: 20px;
      }
    }
  }
}
