.nav {
  width: 100%;
  background-color: $white;
  padding: rem(24px) 0 0;
  position: fixed;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid $grayscaleGray7;

  @include tablet {
    top: 111px;
  }
  @include desktop {
    top: 140px;
  }

  &__inner {
    @include paddingX(10px);
    @include autoMargin;
    max-width: rem(1280px);
  }

  &__list {
    @include flexbox(row, flex-start);
    height: 100%;
  }

  &__item {
    &.selected > a {
      color: $font-blue;
    }

    & > a {
      @include fontSetup(400, 14px, $font-black, 22px);
      font-family: 'Do Hyeon', sans-serif;
      display: block;
      padding: 15px 10px 15px 5px;
      color: $font-gray;

      @include desktop {
        padding-right: 25px;
        font-size: 18px;
      }
    }
  }

  &__sub__container {
    display: none;
    position: absolute;
    left: 0;
    top: 77px;
    width: 100%;
    background: $white;

    @include tablet {
      padding-left: 10px;
    }

    &.show {
      display: block;
    }
  }

  &__sub__list {
    @include flexbox();
    @include autoMargin;
    max-width: 1280px;
    gap: 10px;

    @include desktop {
      padding: 0 10px;
      justify-content: space-between;
    }

    &__item {
      @include fontSetup(400, 18px, $font-black, 1.2);
      font-family: 'Do Hyeon', sans-serif;
      flex-shrink: 0;
      padding: 10px 5px;

      &.selected {
        font-weight: 700;
        border-bottom: 2px solid $font-black;

        a {
          color: $font-black;
        }
      }

      &:hover {
        color: $pickup-border-color;
      }
    }
  }
}
