.banner__container {
  @include autoMargin;
  max-width: 1280px;
  margin-top: 20px;
  padding: 0 15px;

  &__title {
    @include sectionTitle;
  }

  &__carousel {
    position: relative;
  }

  &__control__buttons {
    button {
      @include buttonNone;
      position: absolute;
      right: 5px;
      top: 50%;
      z-index: 1;
      width: 30px;
      height: 100%;
      transform: translateY(-50%);

      img {
        width: 100%;
      }
    }

    &__prev {
      left: 5px;
      right: auto;

      img {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    width: 100%;
    overflow: hidden;

    &__item {
      height: 100%;
      border-radius: 20px;
      background-color: skyblue;

      &__link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
        }
      }

      &__subTitle {
        @include tablet {
          font-size: rem(14px);
        }
        @include desktop {
          font-size: rem(18px);
        }
      }

      &__title {
        @include sectionTitle(28px);
        letter-spacing: 0.2rem;
        margin-top: 8px;

        span {
          display: block;
        }

        @include desktop {
          font-size: 36px;
        }
      }

      &__content {
        @include tablet {
          font-size: rem(14px);
        }
        @include desktop {
          font-size: rem(18px);
        }

        span {
          display: block;
          margin-bottom: 3px;
        }

        @include tablet {
          font-size: rem(14px);
        }
        @include desktop {
          font-size: rem(18px);
        }
      }
    }
  }

  &__current {
    @include buttonNone;
    @include fontSetup(400, 12px, $grayscaleGray6, 1.2);
    position: absolute;
    bottom: 10px;
    right: 35px;
    padding: rem(4px) rem(8px);
    border-radius: rem(15px);
    background: rgba($grayscaleGray1, 50%);

    &__badge__text {
      color: $white;
      font-weight: bold;
    }
  }

  .card {
    &__darkgreen {
      background: $carousel-darkgreen;
    }

    &__orange {
      background: $carousel-orange;
    }

    &__pink {
      background: $carousel-pink;
    }

    &__green {
      background: $carousel-green;
    }

    &__olive {
      background: $carousel-olive;
    }

    &__skin {
      background: $carousel-skin;
    }

    &__purple {
      background: $carousel-purple;
    }

    &__pairgreen {
      background: $carousel-pairGreen;
    }

    &__yellow {
      background: $carousel-yellow;
    }
  }
}
// // carousel
// .banner__carousel {
//   @include carouselWrapper;
//   &__list {
//     display: flex;
//     @include carouselListWidth($numOfItem: 4+1);
//     transition: transform calc(var(--duration) * 1ms) ease-out;
//     &:focus,
//     &:hover {
//       transition: none;
//     }
//   }

//   &__item {
//     @include carouselSlideItem;
//   }
// }
// .banner__event__list {
//   [aria-label="1번째 배너"] {
//     img {
//       width: 250px;
//       margin-top: -20px;
//     }
//   }
//   [aria-label="3번째 배너"] {
//     img {
//       width: 350px;
//       margin-top: -20px;
//     }
//   }
// }
