.restCard {
  @include bgWhiteShadow;
  width: 100%;
  position: relative;
  border-radius: rem(16px);
  overflow: hidden;

  .imgContainer {
    width: 100%;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .descContainer {
    position: relative;
    padding: 16px 20px 25px;
    width: 100%;

    .restName {
      @include fontSetup(900, 20px, $font-black, 30px);
      float: left;
      padding-right: rem(10px);
      margin-bottom: 5px;

      .restLink::after {
        content: "";
        position: absolute;
        left: 0;
        top: -200px;
        right: 0;
        bottom: 0;
        height: calc(100% + 200px);
        border-radius: rem(16px);
      }
    }

    &__rating {
      float: left;
      padding-left: 20px;
      background: url(/assets/images/components/restaurantCard/star.png)
        no-repeat;
      background-position: left center;
      background-size: 18px;

      &__num {
        @include fontSetup(700, 16px, $font-black, 30px);
      }
    }

    dl {
      width: 100%;
      padding: 0;
      clear: both;

      @include tablet {
        @include flexbox($wrap: wrap);
      }

      .descWrapper {
        @include fontSetup(400, 16px, $font-black, 1.4);
        @include flexbox;
        flex-shrink: 0;
        margin-right: 15px;
        margin-bottom: 3px;

        dt {
          margin-right: 5px;
          color: $font-gray;
        }
      }

      .middot {
        display: inline-block;
        margin: 0 5px;
        color: $font-gray;
      }

      .bmNo1wrapper {
        @include flexbox($justify: space-around);
        @include fontSetup(700, 12px, $font-blue, 1.2);
        @include paddingY(3px);
        @include paddingX(10px);
        position: absolute;
        right: 14px;
        top: 12px;
        margin-top: 10px;
        border: 1px solid $font-blue;
        gap: 6px;
        border-radius: rem(24px);
        background: $bg-blue;

        &__no1 {
          padding-right: 16px;
          background: url(/assets/images/components/restaurantCard/no1.png)
            no-repeat;
          background-size: 16px;
          background-position: right center;
        }

        dd {
          font-weight: normal;
          color: $font-black;
        }
      }

      .couponWrapper {
        flex-basis: 100%;
        dd {
          @include fontSetup(400, 16px, $font-orange, 30px);
          @include paddingX(12px);
          display: inline-block;
          margin-top: rem(8px);
          border-radius: rem(15px);
          background: $bg-orange;
        }
      }
    }
  }
}
